<template>
    <div>
        <detadetail
            :getPath="'deliveryDestination/get/' + this.$route.query.id"
            :editPath="
                editable
                    ? '/deliveryDestinationEdit?id=' + this.$route.query.id
                    : ''
            "
            title="納品先詳細"
        ></detadetail>
    </div>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
export default {
    name: "deliveryDestinationDetail",
    components: {
        detadetail
    },
    data() {
        return {
            editable: true
        };
    },
    methods: {
        edit() {
            this.$router.push("/departmentEdit");
        }
    },

    created() {
        if (this.$store.getters["auth/user"].restriction_flg) {
            this.editable = false;
        }
    }
};
</script>
