<template>
    <v-container fluid class="px-0">
        <v-container fluid class="px-0">
            <v-expansion-panels v-model="panel">
                <v-expansion-panel :elevation="5">
                    <v-expansion-panel-header>検索</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-col cols="12" sm="6"
                            ><I_text
                                v-model="searchForm.id"
                                :meta="{
                                    label: 'id'
                                }"
                            >
                            </I_text
                        ></v-col>
                        <v-col cols="12" sm="6">
                            <I_text
                                v-model="searchForm.name"
                                :meta="{
                                    label: '納入先名'
                                }"
                            >
                            </I_text
                        ></v-col>

                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            @click="search"
                            dark
                            class="mr-1"
                        >
                            検索
                        </v-btn>
                        <v-btn color="primary" @click="crear" dark class="">
                            リセット
                        </v-btn>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-container>
        <dataList
            :editPath="editable ? '/deliveryDestinationEdit' : ''"
            detailPath="/deliveryDestinationDetail"
            title="納入先一覧"
            :data="data"
            discription=""
            :headers="headers"
        ></dataList>
    </v-container>
</template>

<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "AccountList",
    components: {
        dataList: dataList
    },
    data() {
        return {
            editable: true,
            searchForm: {
                name: "",
                id: ""
            },
            panel: 0,
            data: [],
            selected: [],
            headers: [
                {
                    text: "id",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                {
                    text: "得意先",
                    value: "account_name",
                    sortable: false
                },
                {
                    text: "名称",
                    align: "start",
                    sortable: false,
                    value: "name"
                },
                { text: "郵便番号", value: "postal_code" },
                {
                    text: "住所1",
                    value: "first_adress",
                    sortable: false
                },
                {
                    text: "住所2",
                    value: "second_adress",
                    sortable: false
                },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    created() {
        this.init();
    },
    methods: {
        crear() {
            this.searchForm = {
                name: "",
                id: ""
            };
        },
        search() {
            if (window.location.search) {
                this.$router.push({
                    name: this.$route.name,
                    query: {}
                });
            }
            this.$router
                .push({
                    name: this.$route.name,
                    query: this.searchForm
                })
                .catch();
            this.$axios
                .get(this.apiUrl + "deliveryDestination/search", {
                    params: this.searchForm
                })
                .then(res => {
                    console.log(res);
                    this.data = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        init() {
            if (window.location.search) {
                var queries = location.search
                    ? location.search.substr(1).split("&")
                    : [];
                this.searchForm = queries.reduce(function(acc, q) {
                    var key = q.split("=")[0];
                    var value = q.split("=")[1];
                    acc[key] = decodeURIComponent(value);
                    return acc;
                }, {});
                this.search();
            } else {
                this.crear();
            }
            this.editcheck();
        },
        editPage(item) {
            this.$router.push("/accountEdit?id=" + item.id);
        },
        CreatePage() {
            this.$router.push("/accountCreate");
        },
        detailPage(item) {
            this.$router.push("/accountDetail?id=" + item.id);
        },
        open() {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Dialog opened";
        },
        close() {
            console.log("Dialsog closed");
        },
        editcheck() {
            if (this.$store.getters["auth/user"].restriction_flg) {
                this.editable = false;
            }
        }
    }
};
</script>
