<template>
    <v-app>
        <dataEditor
            savePath="deliveryDestination/save"
            :getPath="'deliveryDestination/get/' + this.$route.query.id"
            title="納品先を編集"
        ></dataEditor>
    </v-app>
</template>

<script>
import dataEditor from "./../../components/dataComponents/dataEditor";
export default {
    name: "deliveryDestinationEdit",
    components: {
        dataEditor
    },
    data() {
        return {};
    },
    created() {
        if (this.$store.getters["auth/user"].restriction_flg) {
            this.openSnackbar("編集権限がありません");
            this.$router.go(-1);
        }
    },
    methods: {
        dataUpdate(obj) {
            this.data[obj.name] = obj.value;
        }
    }
};
</script>
