<template>
    <v-app>
        <v-container fluid class="px-0 px-md-1">
            <div class="tables-dynamic mt-3">
                <v-row>
                    <v-col cols="12">
                        <v-card class="mb-1 px-6 py-6">
                            <v-card-title class="pa-5 pb-3">
                                <p>出荷ベース売上</p>
                                <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-text>
                                <apexchart
                                    type="bar"
                                    height="350"
                                    :options="chartOptions"
                                    :series="series"
                                ></apexchart>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-container>
    </v-app>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
export default {
    name: "Invoice",
    components: { apexchart: VueApexCharts },
    data() {
        return {
            series: [
                {
                    name: "出荷済",
                    data: [44, 55, 41, 67, 22, 43]
                },
                {
                    name: "請求済",
                    data: [13, 23, 20, 8, 13, 27]
                },
                {
                    name: "入金確認済み",
                    data: [11, 17, 15, 15, 21, 14]
                }
            ],
            chartOptions: {
                chart: {
                    type: "bar",
                    height: 350,
                    stacked: true,
                    toolbar: {
                        show: true
                    },
                    zoom: {
                        enabled: true
                    },
                    events: {
                        dataPointSelection: this.clickData
                    }
                },
                responsive: [
                    {
                        breakpoint: 480,
                        options: {
                            legend: {
                                position: "bottom",
                                offsetX: -10,
                                offsetY: 0
                            }
                        }
                    }
                ],
                plotOptions: {
                    bar: {
                        horizontal: false,
                        borderRadius: 10
                    }
                },
                xaxis: {
                    type: "date",
                    categories: [
                        "2021年2月",
                        "2021年3月",
                        "2021年4月",
                        "2021年5月",
                        "2021年6月",
                        "2021年7月"
                    ]
                },
                legend: {
                    position: "right",
                    offsetY: 40
                },
                fill: {
                    opacity: 1
                }
            }
        };
    },
    created() {},
    methods: {
        clickData(event, chartContext, config) {
            console.log(this.series);
            console.log(this.series[config.seriesIndex].name);

            console.log(
                this.chartOptions.xaxis.categories[config.dataPointIndex]
            );
        }
    }
};
</script>
