<template>
    <v-app>
        <v-container :key="resetKey" fluid class="px-0 px-md-1">
            <ValidationObserver ref="observer" v-slot="{ invalid }" immediate>
                <div @keyup.enter="enterKu" class="tables-dynamic mt-3">
                    <v-row>
                        <v-col cols="12">
                            <v-card class="mb-1 px-sm-0 px-sm-6 py-6">
                                <v-card-title class="pa-5 pb-3">
                                    <p>持出し数入力</p>
                                    <v-spacer></v-spacer>
                                </v-card-title>
                                <v-card-text>
                                    <v-row>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <ValidationProvider
                                                v-slot="{ errors, valid }"
                                                name="担当者"
                                                rules="required"
                                            >
                                                <I_date
                                                    v-model="
                                                        takeout.take_out_date
                                                    "
                                                    :meta="{
                                                        label: '持ち出し日',
                                                        hint: 'aaa'
                                                    }"
                                                    :errorMessages="errors"
                                                    :success="valid"
                                                ></I_date>
                                            </ValidationProvider>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <ValidationProvider
                                                v-slot="{ errors, valid }"
                                                name="担当者"
                                                rules="required"
                                            >
                                                <I_lockup
                                                    v-model="
                                                        takeout.take_out_staff_id
                                                    "
                                                    :dvalue="default_user"
                                                    :meta="{
                                                        label: '配送担当者',
                                                        hint: undefined,
                                                        hint: undefined,
                                                        searchPath:
                                                            'employee/search',
                                                        itemText: 'id',
                                                        itemValue: 'id'
                                                    }"
                                                    :errorMessages="errors"
                                                    :success="valid"
                                                ></I_lockup>
                                            </ValidationProvider>
                                        </v-col>
                                    </v-row>
                                    <v-data-table
                                        :headers="headers"
                                        :items="takeout.takeout_detail"
                                        :dense="true"
                                        class="elevation-1"
                                        :options="{ itemsPerPage: 99 }"
                                        hide-default-footer
                                    >
                                        <template v-slot:top>
                                            <div class="px-6">
                                                <v-row>
                                                    <v-col
                                                        cols="12"
                                                        sm="6"
                                                        md="3"
                                                        ><h6>
                                                            持出明細
                                                        </h6></v-col
                                                    >
                                                    <v-spacer></v-spacer>
                                                    <v-col
                                                        cols="12"
                                                        sm="6"
                                                        md="3"
                                                        class="text-right"
                                                    >
                                                        <v-btn
                                                            color="primary"
                                                            dark
                                                            class="mb-2"
                                                            @click="addLineItem"
                                                        >
                                                            追加
                                                        </v-btn>
                                                    </v-col>
                                                </v-row>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.item`]="{
                                                item,
                                                index
                                            }"
                                        >
                                            <div class="detail_cell">
                                                <ValidationProvider
                                                    v-if="index == 0"
                                                    v-slot="{ errors, valid }"
                                                    name="商品"
                                                    rules="required"
                                                >
                                                    <I_lockup
                                                        filled
                                                        v-model.number="
                                                            item.product_id
                                                        "
                                                        :meta="{
                                                            label: undefined,
                                                            hint: undefined,
                                                            itemValue:
                                                                'product_id',
                                                            itemText:
                                                                'product_id',

                                                            searchPath:
                                                                'product/search'
                                                        }"
                                                        :errorMessages="errors"
                                                        :success="valid"
                                                        @input="setProduct()"
                                                    ></I_lockup>
                                                </ValidationProvider>
                                                <I_lockup
                                                    filled
                                                    v-if="index != 0"
                                                    v-model.number="
                                                        item.product_id
                                                    "
                                                    :meta="{
                                                        label: undefined,
                                                        hint: undefined,
                                                        itemValue: 'product_id',
                                                        itemText: 'product_id',

                                                        searchPath:
                                                            'product/search'
                                                    }"
                                                    @input="setProduct()"
                                                ></I_lockup>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.quantity`]="{
                                                item,
                                                index
                                            }"
                                        >
                                            <div class="detail_cell">
                                                <ValidationProvider
                                                    v-if="index == 0"
                                                    v-slot="{ errors, valid }"
                                                    name="数量"
                                                    rules="required"
                                                >
                                                    <I_number
                                                        v-model.number="
                                                            item.quantity
                                                        "
                                                        :meta="{
                                                            label: undefined,
                                                            hint: undefined
                                                        }"
                                                        :errorMessages="errors"
                                                        :success="valid"
                                                    ></I_number>
                                                </ValidationProvider>
                                                <I_number
                                                    v-if="index != 0"
                                                    v-model.number="
                                                        item.quantity
                                                    "
                                                    :meta="{
                                                        label: undefined,
                                                        hint: undefined
                                                    }"
                                                ></I_number>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.del_btn`]="{ index }"
                                        >
                                            <v-btn
                                                depressed
                                                color="error"
                                                @click="remove(index)"
                                            >
                                                削除
                                                <v-icon right>
                                                    mdi-close
                                                </v-icon>
                                            </v-btn>
                                        </template>
                                        <template v-slot:footer></template>
                                    </v-data-table>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer
                                        class="d-sm-block d-none"
                                    ></v-spacer>

                                    <v-row>
                                        <v-col cols="12" xs="12" sm="6">
                                            <v-btn
                                                color="primary"
                                                dark
                                                block
                                                large
                                                :disabled="invalid"
                                                @click="
                                                    save();
                                                    dialog = false;
                                                "
                                            >
                                                保存
                                            </v-btn></v-col
                                        >
                                        <v-col cols="12" xs="12" sm="6">
                                            <v-btn
                                                color="blue darken-1"
                                                text
                                                block
                                                large
                                                @click="close()"
                                            >
                                                閉じる
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </div>
            </ValidationObserver>
        </v-container>
    </v-app>
</template>

<script>
function initialState() {
    return {
        editable: true,
        selectAccount: null,
        default_user: null,
        default_account: null,
        headers: [
            {
                text: "商品",
                align: "start",
                sortable: false,
                value: "item"
            },
            {
                text: "持出数量",
                align: "start",
                sortable: false,
                value: "quantity"
            },
            {
                text: "削除",
                align: "start",
                sortable: false,
                value: "del_btn"
            }
        ],
        takeout: {
            take_out_date: null,
            take_out_staff_id: null,
            takeout_detail: [
                {
                    product_id: null,
                    quantity: ""
                }
            ]
        },
        TaxType: ""
    };
}
import { mapActions } from "vuex";
import { localize, ValidationObserver, ValidationProvider } from "vee-validate";
import ja from "vee-validate/dist/locale/ja.json";
localize("ja", ja);
export default {
    name: "takeOutCreate",
    components: {
        ValidationProvider,
        ValidationObserver
    },
    created() {
        this.init();
    },
    data() {
        return { resetKey: 0, ...initialState() };
    },
    methods: {
        ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"]),
        save() {
            let vm = this;
            this.$axios
                .post(this.apiUrl + "takeout/post", this.takeout)
                .then(res => {
                    console.log(res);
                    vm.init();
                    this.resetKey++;
                    window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
            this.openSnackbar("保存しました");
        },
        enterKu() {
            var els = document.getElementsByClassName("v-input");
            var inputs = [];
            for (let el of els) {
                inputs.push(el.getElementsByTagName("input")[0]);
            }
            inputs[inputs.indexOf(document.activeElement) + 1].focus();
        },
        addLineItem() {
            this.takeout.takeout_detail.push({
                product_id: null,
                quantity: ""
            });
        },
        remove(index) {
            this.takeout.takeout_detail.splice(index, 1);
        },
        setProduct() {
            this.addLineItem();
        },
        getDateString(date) {
            return (
                date.getFullYear() +
                "-" +
                ("0" + (date.getMonth() + 1)).slice(-2) +
                "-" +
                ("0" + date.getDate()).slice(-2)
            );
        },
        close() {
            this.$router.go(-1);
        },
        init() {
            Object.assign(this.$data, initialState());
            this.takeout.take_out_date = this.getDateString(new Date());
            this.takeout.take_out_staff_id = this.$store.getters[
                "auth/user"
            ].id;
            this.default_user = this.$store.getters["auth/user"];
        }
    },
    watch: {}
};
</script>
