<template>
    <v-app>
        <v-container fluid class="px-0 px-md-1">
            <div class="tables-dynamic mt-3">
                <v-row>
                    <v-col cols="12">
                        <v-card class="mb-1 px-sm-0 px-sm-6 py-6">
                            <v-card-title class="pa-5 pb-3">
                                <p>持出し数編集</p>
                                <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" xs="12" sm="6">
                                        <I_date
                                            v-model="takeout.take_out_date"
                                            :meta="{
                                                label: '持ち出し日',
                                                hint: 'aaa'
                                            }"
                                        ></I_date>
                                    </v-col>
                                    <v-col cols="12" xs="12" sm="6">
                                        <I_lockup
                                            v-model="takeout.take_out_staff_id"
                                            :dvalue="takeout.take_out_staff"
                                            :meta="{
                                                label: '配送担当者',
                                                hint: undefined,
                                                hint: undefined,
                                                searchPath: 'employee/search',
                                                itemText: 'id',
                                                itemValue: 'id'
                                            }"
                                            code="id"
                                        ></I_lockup>
                                    </v-col>
                                </v-row>
                                <v-data-table
                                    :headers="headers"
                                    :items="takeout.takeout_detail"
                                    :dense="true"
                                    class="elevation-1"
                                    :options="{ itemsPerPage: 99 }"
                                    hide-default-footer
                                >
                                    <template v-slot:top>
                                        <div class="px-6">
                                            <v-row>
                                                <v-col cols="12" sm="6" md="3"
                                                    ><h6>持出明細</h6></v-col
                                                >
                                                <v-spacer></v-spacer>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="3"
                                                    class="text-right"
                                                >
                                                    <v-btn
                                                        color="primary"
                                                        dark
                                                        class="mb-2"
                                                        @click="addLineItem"
                                                    >
                                                        追加
                                                    </v-btn>
                                                </v-col>
                                            </v-row>
                                        </div>
                                    </template>
                                    <template v-slot:[`item.item`]="{ item }">
                                        <I_lockup
                                            v-model="item.product_id"
                                            :dvalue="item.product"
                                            :meta="{
                                                label: undefined,
                                                dense: true,
                                                hint: undefined,
                                                itemValue: 'id',
                                                itemText: 'id',

                                                searchPath:
                                                    'Shipment/searchCustomerUnitPrice'
                                            }"
                                            @input="setProduct()"
                                        ></I_lockup>
                                    </template>
                                    <template
                                        v-slot:[`item.quantity`]="{ item }"
                                    >
                                        <I_number
                                            v-model.number="item.quantity"
                                            :meta="{
                                                label: undefined,
                                                dense: true,
                                                hint: undefined
                                            }"
                                        ></I_number>
                                    </template>
                                    <template
                                        v-slot:[`item.del_btn`]="{ index }"
                                    >
                                        <v-btn
                                            depressed
                                            color="error"
                                            @click="remove(index)"
                                        >
                                            削除
                                            <v-icon right> mdi-close </v-icon>
                                        </v-btn>
                                    </template>
                                    <template v-slot:footer></template>
                                </v-data-table>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer class="d-sm-block d-none"></v-spacer>
                                <v-row>
                                    <v-col cols="12" xs="12" sm="6">
                                        <v-btn
                                            color="primary"
                                            dark
                                            block
                                            large
                                            @click="save"
                                        >
                                            保存
                                        </v-btn></v-col
                                    >
                                    <v-col cols="12" xs="12" sm="6">
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            block
                                            large
                                            @click="close"
                                        >
                                            閉じる
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-container>
    </v-app>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "takeOutEdit",
    components: {},
    created() {
        this.init();
    },
    data() {
        return {
            editable: true,
            selectAccount: null,
            default_user: null,
            default_account: null,
            headers: [
                {
                    text: "商品",
                    align: "start",
                    sortable: false,
                    value: "item"
                },
                {
                    text: "持出数量",
                    align: "start",
                    sortable: false,
                    value: "quantity"
                }
            ],
            takeout: {},
            TaxType: ""
        };
    },
    methods: {
        ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"]),
        save() {
            let vm = this;
            this.$axios
                .post(this.apiUrl + "takeout/save", this.takeout)
                .then(res => {
                    console.log(res);
                    vm.init();
                    this.openSnackbar("保存しました");
                    this.$router.go(-1);
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        close() {
            this.$router.go(-1);
        },
        editcheck() {
            let vm = this;
            if (this.$store.getters["auth/user"].is_delivery_staff) {
                vm.openSnackbar("配送スタッフは持ち出し数の編集はできません");
                vm.$router.go(-1);
            }
        },
        addLineItem() {
            this.takeout.takeout_detail.push({
                product: null,
                product_id: null,
                quantity: 1
            });
        },
        remove(index) {
            this.takeout.takeout_detail.splice(index, 1);
        },
        setProduct() {
            this.addLineItem();
        },
        getDateString(date) {
            return (
                date.getFullYear() +
                "-" +
                ("0" + (date.getMonth() + 1)).slice(-2) +
                "-" +
                ("0" + date.getDate()).slice(-2)
            );
        },
        init() {
            let vm = this;
            this.editcheck();
            this.editable = !this.$store.getters["auth/user"].is_delivery_staff;
            this.$axios
                .get(this.apiUrl + "takeout/get/" + this.$route.query.id)
                .then(res => {
                    console.log(res);
                    vm.takeout = res.data.data;
                    vm.meta = res.data.meta;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        deleteProperty(data) {
            delete data.take_out_staff;
            data.takeout_detail.forEach(d => {
                delete d.product;
            });
            return data;
        }
    },
    watch: {}
};
</script>
