<template>
    <v-container fluid class="px-0">
        <v-container fluid class="px-0">
            <v-expansion-panels v-if="reset" v-model="panel">
                <v-expansion-panel :elevation="5">
                    <v-expansion-panel-header>検索</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-row>
                            <v-col cols="12" sm="6"
                                ><I_date
                                    v-model="searchForm.take_out_date"
                                    :meta="{
                                        label: '持ち出し日'
                                    }"
                                ></I_date
                            ></v-col>
                            <v-col cols="12" sm="6"
                                ><I_lockup
                                    v-model="searchForm.take_out_staff_id"
                                    :meta="{
                                        label: '配送担当者',
                                        hint: undefined,
                                        searchPath: 'employee/search',
                                        itemText: 'id',
                                        itemValue: 'id'
                                    }"
                                    :dvalue="default_user"
                                    code="id"
                                ></I_lockup
                            ></v-col>
                        </v-row>

                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            @click="search"
                            dark
                            class="mr-1"
                        >
                            検索
                        </v-btn>
                        <v-btn color="primary" @click="crear" dark class="">
                            リセット
                        </v-btn>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-container>
        <dataList
            editPath="/takeOutEdit"
            detailPath="/takeOutDetail"
            createPath="/takeOutCreate"
            title="持ち出し一覧"
            :data="data"
            discription=""
            :headers="headers"
            :loading="loading"
            @delete="search"
            ><template slot="buttons"></template
        ></dataList>
    </v-container>
</template>

<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "TakeOutList",
    components: {
        dataList: dataList
    },
    data() {
        return {
            loading: false,
            reset: true,
            ddelivery_employee_id: {},
            dsales_employee_id: {},
            default_user: null,
            searchForm: {
                take_out_date: "",
                take_out_staff_id: ""
            },
            panel: 0,
            data: [],
            selected: [],
            headers: [
                {
                    text: "id",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                { text: "社員ID", value: "take_out_staff_id" },
                { text: "社員名", value: "take_out_staff_name" },
                { text: "持ち出し日", value: "take_out_date" },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    created() {
        if (window.location.search) {
            this.init();
        } else if (this.$store.getters["auth/user"].is_delivery_staff) {
            this.searchForm.take_out_date = this.DateToStr(new Date());
            this.searchForm.take_out_staff_id = this.$store.getters[
                "auth/user"
            ].id;
            console.log(this.searchForm.take_out_staff_id);
            this.default_user = this.$store.getters["auth/user"];
            this.search();
            this.panel = null;
        } else {
            this.init();
        }
    },
    methods: {
        search() {
            this.loading = true;
            if (window.location.search) {
                this.$router.push({
                    name: this.$route.name,
                    query: {}
                });
            }
            this.$router
                .push({
                    name: this.$route.name,
                    query: this.searchForm
                })
                .catch();
            this.$axios
                .get(this.apiUrl + "takeout/list", {
                    params: this.searchForm
                })
                .then(res => {
                    console.log(res);
                    this.data = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        crear() {
            this.searchForm = {
                take_out_date: "",
                take_out_staff_id: ""
            };
        },
        init() {
            this.crear();
            if (window.location.search) {
                var queries = location.search
                    ? location.search.substr(1).split("&")
                    : [];
                this.searchForm = queries.reduce(function(acc, q) {
                    var key = q.split("=")[0];
                    var value = q.split("=")[1];
                    acc[key] = decodeURIComponent(value);
                    return acc;
                }, {});

                this.search();
            } else if (this.$store.getters["auth/user"].is_delivery_staff) {
                this.searchForm.start_sales_date = this.DateToStr(new Date());
                this.searchForm.end_sales_date = this.DateToStr(new Date());
                console.log(this.searchForm.take_out_staff_id);
                this.searchForm.take_out_staff_id = this.$store.getters[
                    "auth/user"
                ].id;
                console.log(this.searchForm.take_out_staff_id);
                this.default_user = this.$store.getters["auth/user"];
                this.search();
            } else {
                this.crear();
            }

            if (this.$store.getters["auth/user"].is_delivery_staff) {
                this.panel = null;
            }

            this.reset = false;
            this.$nextTick(() => {
                this.reset = true; // hello   DOM更新後にこのコードに到達する
            });
        },
        DateToStr(date) {
            let format_str = "YYYY-MM-DD";
            format_str = format_str.replace(/YYYY/g, date.getFullYear());
            if (date.getMonth() == 0) {
                format_str = format_str.replace(/MM/g, 12);
            } else {
                format_str = format_str.replace(
                    /MM/g,
                    ("00" + (date.getMonth() + 1)).slice(-2)
                );
            }

            format_str = format_str.replace(
                /DD/g,
                ("00" + date.getDate()).slice(-2)
            );

            return format_str;
        }
    }
};
</script>
