<template>
    <div>
        <detadetail
            :getPath="'takeout/get/' + this.$route.query.id"
            :editPath="
                editable ? '/takeOutEdit?id=' + this.$route.query.id : ''
            "
            title="持ち出し詳細"
        ></detadetail>
        <detalist
            editPath=""
            detailPath=""
            createPath=""
            title="明細一覧"
            discription=""
            :data="detailList"
            :headers="Headers"
        >
            <template slot="buttons"></template>
        </detalist>
    </div>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
import detaList from "./../../components/dataComponents/dataList";
export default {
    name: "shipmentDetail",
    components: {
        detadetail: detadetail,
        detalist: detaList
    },
    created() {
        this.init();
    },
    data() {
        return {
            detailList: [],
            editable: true,
            Headers: [
                {
                    text: "商品名",
                    align: "start",
                    sortable: false,
                    value: "product_name"
                },
                { text: "数量", value: "quantity" }
            ]
        };
    },
    methods: {
        editcheck() {
            if (this.$store.getters["auth/user"].is_delivery_staff) {
                this.editable = false;
            }
        },
        init() {
            this.$axios
                .get(this.apiUrl + "takeout/get/" + this.$route.query.id)
                .then(res => {
                    console.log(res);
                    this.detailList = res.data.data.takeout_detail;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            this.editcheck();
        }
    }
};
</script>
