<template>
    <div>
        <dataEditor
            savePath="product/save"
            :getPath="'product/get/' + this.$route.query.id"
            title="商品を編集"
        ></dataEditor>
    </div>
</template>

<script>
import dataEditor from "./../../components/dataComponents/dataEditor";
export default {
    name: "productEdit",
    components: {
        dataEditor
    },
    data() {
        return {
            data: [
                {
                    name: "商品名称",
                    value: "昼食w",
                    type: "text"
                },
                {
                    name: "区分",
                    value: "3.加工品",
                    type: "number"
                },
                {
                    name: "大カテゴリ",
                    value: "01:お弁当",
                    type: "radio",
                    SelectValues: [{ lavel: "大阪" }, { lavel: "東京" }]
                },
                {
                    name: "中カテゴリ",
                    value: "00:お弁当",
                    type: "select",
                    SelectValues: [{ lavel: "大阪" }, { lavel: "東京" }]
                },
                {
                    name: "小カテゴリ",
                    value: "00:お弁当",
                    type: "tmultiSelect",
                    SelectValues: [{ lavel: "大阪" }, { lavel: "東京" }]
                },
                {
                    name: "税区分",
                    value: "1:外税"
                },
                {
                    name: "出荷単位",
                    value: "11"
                },
                {
                    name: "仕入単価",
                    value: "170"
                },
                {
                    name: "単価",
                    value: "0"
                }
            ]
        };
    },
    methods: {
        edit() {
            this.$router.push("/productEdit");
        }
    },
    created() {
        if (this.$store.getters["auth/user"].restriction_flg) {
            this.openSnackbar("編集権限がありません");
            this.$router.go(-1);
        }
    }
};
</script>
