<template>
    <div>
        <DataCreator
            getPath="product/meta"
            SavePath="product/post"
            title="商品を登録"
            ref="item"
            :defaultValue="defaultValue"
        ></DataCreator>
    </div>
</template>

<script>
import DataCreator from "../../components/dataComponents/dataCreator";
export default {
    name: "productCreate",
    created() {},
    updated() {},
    components: {
        DataCreator: DataCreator
    },
    data() {
        return {
            defaultValue: {
                tax: 0.1
            }
        };
    },
    methods: {
        edit() {
            this.$router.push("/productEdit");
        }
    }
};
</script>
