<template>
    <div>
        <detadetail
            :getPath="'product/get/' + this.$route.query.id"
            :editPath="
                editable ? '/productEdit?id=' + this.$route.query.id : ''
            "
            title="商品詳細"
        ></detadetail>
    </div>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
export default {
    name: "productDetail",
    components: {
        detadetail
    },
    data() {
        return { editable: true };
    },
    methods: {
        edit() {
            this.$router.push("/productEdit");
        }
    },
    created() {
        if (this.$store.getters["auth/user"].restriction_flg) {
            this.editable = false;
        }
    }
};
</script>
