<template>
    <v-container fluid class="px-0">
        <v-container fluid class="px-0">
            <v-expansion-panels v-model="panel">
                <v-expansion-panel :elevation="5">
                    <v-expansion-panel-header>検索</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <I_text
                            v-model="searchForm.name"
                            :meta="{
                                label: '商品名'
                            }"
                        ></I_text>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            @click="search"
                            dark
                            class="mr-1"
                        >
                            検索
                        </v-btn>
                        <v-btn color="primary" @click="init" dark class="">
                            リセット
                        </v-btn>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-container>
        <dataList
            :editPath="editable ? '/productedit' : ''"
            detailPath="/productdetail"
            :createPath="editable ? '/productcreate' : ''"
            :data="data"
            title="商品一覧"
            discription=""
            :headers="headers"
        ></dataList>
    </v-container>
</template>

<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "ProductList",
    components: {
        dataList: dataList
    },
    created() {
        this.init();
    },
    data() {
        return {
            editable: true,
            searchForm: {
                name: ""
            },
            panel: [],
            data: [],
            selected: [],
            headers: [
                {
                    text: "ID",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                {
                    text: "商品名称",
                    align: "start",
                    sortable: false,
                    value: "name"
                },
                { text: "区分", value: "Class" },
                { text: "課税有無", value: "taxation_flg" },
                {
                    text: "出荷単位",
                    value: "Inventory_unit",
                    sortable: false
                },
                {
                    text: "仕入単価",
                    value: "purchase_unit_price",
                    sortable: false
                },
                {
                    text: "単価",
                    value: "unit_price",
                    sortable: false
                },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    methods: {
        init() {
            this.$axios
                .get(this.apiUrl + "product/list")
                .then(res => {
                    this.data = res.data.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
            this.searchForm = {
                name: ""
            };
            if (this.$store.getters["auth/user"].restriction_flg) {
                this.editable = false;
            }
        },
        search() {
            this.$axios
                .get(this.apiUrl + "product/search", {
                    params: this.searchForm
                })
                .then(res => {
                    this.data = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        editPage() {
            this.$router.push("/productEdit");
        },
        detailPage() {
            this.$router.push("/productDetail");
        },
        save() {
            this.snack = true;
            this.snackColor = "success";
            this.snackText = "Data saved";
        },
        cancel() {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Canceled";
        },
        open() {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Dialog opened";
        },
        close() {
            console.log("Dialog closed");
        }
    }
};
</script>
