<template>
    <form class="form" @submit.prevent="login">
        <label for="login-email">Email</label>
        <input
            type="text"
            class="form__item"
            id="login-email"
            v-model="loginForm.code"
        />
        <label for="login-password">Password</label>
        <input
            type="password"
            class="form__item"
            id="login-password"
            v-model="loginForm.password"
        />
        <div class="form__button">
            <button type="submit" class="button button--inverse">login</button>
        </div>
    </form>
</template>
<script>
export default {
    data() {
        return {
            loginForm: {
                code: "",
                password: ""
            },
            isError: false
        };
    },
    methods: {
        keyDownEnter(code) {
            if (code == 13) {
                this.login();
            }
        },
        async login() {
            // authストアのloginアクションを呼び出す
            let response = await this.$store.dispatch(
                "auth/login",
                this.loginForm
            );
            if (response.data.status != 200) {
                this.isError = true;
            } else {
                this.isError = false;
                this.$router.push("/");
            }
        }
    }
};
</script>
