html {
    height: 100%;
}
body {
    width: 100%;
    padding-right: 0px;
    height: 100%;
    font-family: Verdana, JPAPGothic, sans-serif;
}

.page {
    padding: 15px 60px !important;
    page-break-after: always;
    page-break-inside: avoid;
    height: 100%;
}

.page_inner {
    height: 100%;
    margin: 0;
}
.page:last-child {
    page-break-after: auto;
}
.heading {
    padding-left: 40px;
    margin-bottom: 44px;
}
.triangle {
    z-index: 1000;
    position: absolute;
    right: -1300px;
    left: -300px;
    top: 33%;
    height: 33%;
    border: double;
    border-color: #000;
    border-width: 3px;
}
.company_seal {
    position: absolute;
    right: 60px;
    top: 104px;
    height: 96px;
    transform: rotate(-15deg);
}

.page_num {
    padding-top: 54px;
    font-size: 18px;
    text-align: right;
}
.addressee {
    float: left;
    font-size: 20px;
}

.pl {
    padding-left: 40px;
}

/*宛名*/
.addressee tr {
    height: 40px;
}
/*得意先名*/
.account_name {
    font-size: 20px;
}
/*期間と締め日*/
.term,
.Deadline {
    font-size: 16px;
}

.metas_wrap {
    float: right;
}

.title {
    float: left;
    margin: 0 auto;
    font-size: 28px;
    width: 260px;
    text-align: center;
    border-bottom: double;
    border-color: #000;
    border-width: 3px;
}
.date_of_issue {
    font-size: 20px;
}

.signature_postal_code,
.signature_address,
.signature_tax,
.signature_contact,
.signature_bank {
    font-size: 16px;
}

.signature_name {
    font-size: 20px;
}

.heading::after {
    content: "";
    display: block;
    clear: both;
}

.total {
    width: 100%;
    margin-bottom: 32px;
}
.total p {
    font-size: 18px;
}
.total_table {
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
    line-height: 1.4;
}
.total_table td,
.total_table th {
    border: 2px solid #000;
    text-align: center;
    height: 22px;
}
.no_border {
    width: 40px;
    border: none !important;
}

/*請求明細*/
.invoice_detail {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #000;
    line-height: 1.4;
}

.shipment_total td {
    background-color: #aaa;
}

.invoice_detail td,
.invoice_detail th {
    border: 2px solid #000;
    font-size: 16px;
    height: 20px;
    text-align: center;
    padding: 3px;
}
.text_right {
    text-align: right !important;
}
