body {
    width: 100%;
}
.inner {
    padding-right: 40px;
}
.title {
    margin: 0 auto;
    font-size: 32px;
    text-align: center;
}

.metas_wrap {
    float: right;
    text-align: left;
}
.metas_wrap p {
    font-size: 14px;
}
.metas_wrap .message {
    font-size: 14px;
}

.metas_wrap .from {
    font-size: 22px;
}
.addressee {
    float: left;
}

/*宛名*/
.addressee tr {
    height: 40px;
}
/*得意先名*/
.account_name {
    font-size: 19px;
}
/*期間と締め日*/
.term,
.Deadline {
    font-size: 20px;
}

.heading::after {
    content: "";
    display: block;
    clear: both;
}

/*食数表*/
.meal_num {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
}

.meal_num td,
.meal_num th {
    border: 1px solid #666;
    font-size: 13px;
}
