html,
body {
    height: 100%;
}
.first {
    height: 160mm;
    border-bottom: double;
    border-color: #000;
    border-width: 3px;
}

.secand,
.first {
    padding: 42px;
    padding-left: 120px !important;
}
.left {
    float: left;
    width: 70%;
}

.title {
    margin: 0 auto;
}
.num {
    font-size: 24px;
    text-align: right;
    display: inline-block;
    border-bottom: double;
    border-color: #000;
    border-width: 3px;
}
h1 {
    width: 100%;
    text-align: center;
}

.main {
    width: 100%;
    margin-top: 36px;
}

.account_num {
    font-size: 18px;
}

.date {
    font-size: 32px;
    text-align: right;
}
.img {
    text-align: center;
    padding: 34px;
    padding-top: 62px !important;
}
.message {
    font-size: 24px !important;
}
.addres {
    text-align: center;
    font-size: 20px !important;
}
.company_seal {
    width: 150px;
}
.addres p {
    text-align: center;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}

.page {
    page-break-before: always;
    page-break-inside: avoid;
}

.acc_name {
    font-size: 24px;
    border-bottom: solid;
    border-color: #000;
    border-width: 3px;
}
.deadline {
    font-size: 20px;
}
.amount {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border-bottom: solid;
    border-top: solid;
    border-color: #000;
    border-width: 3px;
}

.right {
    padding-left: 5px;
    float: right;
    width: 29%;
}

.bosyu {
    font-size: 18px;
}

.right table {
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

.right table td {
    border: solid;
    border-color: #000;
    border-width: 3px;
}

.no_b td {
    border: none !important;
    height: 16px;
}

.first::after,
.secand::after {
    content: "";
    display: block;
    clear: both;
}
