<template>
    <v-app>
        <v-container fluid class="px-0">
            <v-container fluid class="px-0">
                <v-expansion-panels v-model="panel">
                    <v-expansion-panel :elevation="5">
                        <v-expansion-panel-header
                            >検索</v-expansion-panel-header
                        >
                        <v-expansion-panel-content>
                            <v-row>
                                <v-col cols="4"
                                    ><I_date
                                        v-model="searchForm.start_payment_date"
                                        :meta="{
                                            label: '入金日~'
                                        }"
                                    ></I_date
                                ></v-col>
                                <v-col cols="4"
                                    ><I_date
                                        v-model="searchForm.end_payment_date"
                                        :meta="{
                                            label: '~入金日'
                                        }"
                                    ></I_date
                                ></v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="12" sm="4">
                                    <I_text
                                        v-model="searchForm.account_name"
                                        :meta="{
                                            label: '得意先名'
                                        }"
                                    ></I_text>
                                </v-col>
                                <v-col cols="12" sm="4"
                                    ><I_text
                                        v-model="searchForm.account_id"
                                        :meta="{
                                            label: '得意先ID'
                                        }"
                                    ></I_text
                                ></v-col>
                            </v-row>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="primary"
                                @click="search"
                                dark
                                class="mr-1"
                            >
                                検索
                            </v-btn>
                            <v-btn color="primary" @click="crear" dark class="">
                                リセット
                            </v-btn>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-container>
            <dataList
                detailPath="/paymentDetail"
                :data="data"
                title="入金一覧"
                discription=""
                :headers="paymentHeaders"
            >
                <template slot="buttons"
                    ><v-btn depressed color="primary" @click="paymentListForm"
                        >入金一覧表を出力</v-btn
                    ></template
                >
            </dataList>
        </v-container></v-app
    >
</template>
<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "Invoice",
    components: {
        dataList: dataList
    },
    data() {
        return {
            panel: [],
            searchForm: {
                start_payment_date: "",
                end_payment_date: "",
                account_name: "",
                account_id: ""
            },
            data: [],
            meta: null,
            paymentHeaders: [
                {
                    text: "得意先名",
                    align: "start",
                    sortable: false,
                    value: "account_name"
                },
                {
                    text: "入金日",
                    align: "start",
                    sortable: false,
                    value: "payment_date"
                },
                { text: "入金額", value: "deposit_amount" },
                { text: "入金区分", value: "payments_class" },
                { text: "入金担当者", value: "staff_name" },
                { text: "備考", value: "remarks" },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    created() {
        this.init();
    },
    methods: {
        paymentListForm() {
            this.$axios
                .post(
                    this.apiUrl + "invoice/payment/listForm",
                    this.searchForm,
                    {
                        responseType: "blob"
                    }
                )
                .then(res => {
                    console.log(res);
                    var title = "入金一覧表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                    //ダウンロードする場合
                    /*
                    var fileURL = URL.createObjectURL(blob);
                    var fileLink = document.createElement("a");
                    fileLink.href = fileURL;
                    fileLink.download = title;
                    fileLink.click();*/
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        crear() {
            this.searchForm = {
                start_payment_date: "",
                end_payment_date: ""
            };
        },
        search() {
            if (window.location.search) {
                this.$router.push({
                    name: this.$route.name,
                    query: {}
                });
            }
            this.$router
                .push({
                    name: this.$route.name,
                    query: this.searchForm
                })
                .catch();
            this.$axios
                .get(this.apiUrl + "invoice/payment/search", {
                    params: this.searchForm
                })
                .then(res => {
                    console.log(res);
                    this.data = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },

        init() {
            this.crear();
            if (window.location.search) {
                var queries = location.search
                    ? location.search.substr(1).split("&")
                    : [];
                this.searchForm = queries.reduce(function(acc, q) {
                    var key = q.split("=")[0];
                    var value = q.split("=")[1];
                    acc[key] = decodeURIComponent(value);
                    return acc;
                }, {});
                this.search();
            }
        }
    }
};
</script>
