<template>
    <div>
        <detadetail
            :getPath="'invoice/payment/get/' + this.$route.query.id"
            :editPath="
                editable ? '/paymentEdit?id=' + this.$route.query.id : ''
            "
            title="入金詳細"
        ></detadetail>
    </div>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
export default {
    name: "employeeDetail",
    components: {
        detadetail
    },
    data() {
        return { editable: true };
    },
    created() {
        this.$axios
            .get(this.apiUrl + "invoice/payment/get/" + this.$route.query.id)
            .then(res => {
                if (res.data.data.invoice.deposited == 1) {
                    this.editable = false;
                }
            })
            .catch(err => {
                this.openSnackbar(err);
                console.log(err);
            });
    },
    methods: {
        edit() {
            this.$router.push("/employeeEdit");
        }
    }
};
</script>
