<template>
    <v-app>
        <div>
            {{ id }}
            {{ id2 }}
            <I_lockupT
                v-model="id"
                @input="id = $event"
                :dvalue="item"
                :meta="{
                    label: '配送先',
                    hint: undefined,
                    searchPath: 'employee/search',
                    itemText: 'id',
                    itemValue: 'id'
                }"
                code="id"
            ></I_lockupT>
        </div>
    </v-app>
</template>

<script>
import I_lockupT from "../../components/input/lockupT.vue";
export default {
    name: "Test",
    components: { I_lockupT: I_lockupT },
    created() {},
    data() {
        return {
            id: 2,
            id2: 1,
            item: { name: "test", id: 2 }
        };
    },
    methods: {},
    watch: {}
};
</script>
