<template>
    <div>
        <DataCreator
            getPath="department/meta"
            SavePath="department/post"
            title="部署を登録"
        ></DataCreator>
    </div>
</template>

<script>
import DataCreator from "../../components/dataComponents/dataCreator";
export default {
    name: "departmentCreate",
    components: {
        DataCreator: DataCreator
    },
    data() {
        return {};
    },
    methods: {
        edit() {
            this.$router.push("/departmentEdit");
        }
    }
};
</script>
