<template>
    <div>
        <detadetail
            :getPath="'department/get/' + this.$route.query.id"
            :editPath="'/departmentEdit?id=' + this.$route.query.id"
            title="部署詳細"
        ></detadetail>
    </div>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
export default {
    name: "productDetail",
    components: {
        detadetail
    },
    data() {
        return {};
    },
    methods: {
        edit() {
            this.$router.push("/departmentEdit");
        }
    }
};
</script>
