<template>
    <v-container fluid class="px-0">
        <dataList
            editPath="/departmentEdit"
            detailPath="/departmentDetail"
            createPath="/departmentCreate"
            deletePath="department/delete"
            @delete="init"
            :data="data"
            title="部署一覧"
            discription=""
            :headers="headers"
        ></dataList>
    </v-container>
</template>

<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "ProductList",
    components: {
        dataList: dataList
    },
    data() {
        return {
            selected: [],
            data: [],
            headers: [
                { text: "ID", value: "id" },
                {
                    text: "部署名",
                    align: "start",
                    sortable: false,
                    value: "name"
                },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "delete",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    created() {
        this.init();
    },
    methods: {
        init() {
            this.$axios
                .get(this.apiUrl + "department/list")
                .then(res => {
                    this.data = res.data.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        editPage(item) {
            this.$router.push("/DepartmentEdit?id=" + item.id);
        },
        detailPage(item) {
            this.$router.push("/DepartmentDetail?id=" + item.id);
        },
        save() {
            this.snack = true;
            this.snackColor = "success";
            this.snackText = "Data saved";
        },
        cancel() {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Canceled";
        },
        open() {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Dialog opened";
        },
        close() {
            console.log("Dialog closed");
        }
    }
};
</script>
