<template>
    <v-app>
        <v-card background-color="transparent" class="mt-6">
            <v-tabs v-model="tab" align-with-title>
                <v-tab> マスタ情報 </v-tab>
                <v-tab> 納入先一覧 </v-tab>
                <v-tab> 単価一覧 </v-tab>
                <v-tab> 出荷履歴 </v-tab>
                <v-tab v-if="editable"> 請求履歴 </v-tab>
            </v-tabs>
        </v-card>
        <v-tabs-items v-model="tab" style="background-color: transparent">
            <v-tab-item>
                <detadetail
                    :getPath="'account/get/' + this.$route.query.id"
                    :editPath="
                        editable
                            ? '/accountEdit?id=' + this.$route.query.id
                            : ''
                    "
                    title="得意先詳細"
                >
                    <template slot="buttons"> </template>
                </detadetail>
            </v-tab-item>
            <v-tab-item>
                <detalist
                    :editPath="editable ? 'deliveryDestinationEdit' : ''"
                    :deletePath="editable ? 'deliveryDestination/delete' : ''"
                    detailPath="deliveryDestinationDetail"
                    @delete="init"
                    :data="deliveryDestinations"
                    title="納入先一覧"
                    discription=""
                    :headers="DeliveryDestinationsHeaders"
                >
                    <template slot="buttons" v-if="editable"
                        ><dialogDataCreator
                            text="新規作成"
                            getPath="deliveryDestination/meta"
                            SavePath="deliveryDestination/post"
                            @save="init()"
                            :defaultValue="{ account_id: this.$route.query.id }"
                            title="新規納入先"
                        ></dialogDataCreator
                    ></template>
                </detalist>
            </v-tab-item>
            <v-tab-item
                ><detalist
                    :editPath="editable ? '/CustomerUnitPriceEdit' : ''"
                    detailPath="/CustomerUnitPriceDetail"
                    createPath=""
                    :data="priceList"
                    title="商品単価一覧"
                    discription=""
                    :headers="PriceHeaders"
                >
                    <template slot="buttons" v-if="editable"
                        ><dialogDataCreator
                            text="新規作成"
                            @save="init()"
                            getPath="CustomerUnitPrice/meta"
                            SavePath="CustomerUnitPrice/post"
                            :defaultValue="{ account_id: this.$route.query.id }"
                            title="新規商品単価"
                        ></dialogDataCreator></template></detalist
            ></v-tab-item>
            <v-tab-item
                ><detalist
                    detailPath="/ShipmentDetail"
                    createPath=""
                    :data="shipmentList"
                    title="出荷履歴"
                    discription=""
                    :headers="shipmentHeaders"
                >
                </detalist>
            </v-tab-item>
            <v-tab-item v-if="editable">
                <detalist
                    detailPath="/InvoiceDetail"
                    createPath=""
                    :data="invoiceList"
                    title="請求履歴"
                    discription=""
                    :headers="invoiceHeaders"
                ></detalist
            ></v-tab-item>
        </v-tabs-items>
    </v-app>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
import dialogDataCreator from "./../../components/dataComponents/dialogDataCreator";
import detaList from "./../../components/dataComponents/dataList";
export default {
    name: "accountDetail",
    components: {
        detadetail: detadetail,
        detalist: detaList,
        dialogDataCreator: dialogDataCreator
    },
    created() {
        this.init();
    },
    data() {
        return {
            dialog: false,
            tab: null,
            deliveryDestinations: [],
            selectDeliveryDestinations: [],
            priceList: [],
            shipmentList: [],
            invoiceList: [],
            editable: true,
            meta: null,
            DeliveryDestinationsHeaders: [
                {
                    text: "ID",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                {
                    text: "名称",
                    align: "start",
                    sortable: false,
                    value: "name"
                },
                { text: "略称", value: "Abbreviation" },
                { text: "カナ", value: "kana" },

                { text: "郵便番号", value: "postal_code" },
                { text: "住所1", value: "first_adress" },
                { text: "住所2", value: "second_adress" },
                {
                    text: "電話番号",
                    value: "phone_number",
                    sortable: false
                },
                {
                    text: "fax",
                    value: "fax",
                    sortable: false
                },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "delete",
                    sortable: false,
                    width: "20px"
                }
            ],
            PriceHeaders: [
                { text: "開始日", value: "start_date" },
                { text: "商品名", value: "product_name" },
                { text: "得意先", value: "account_name" },
                {
                    text: "単価",
                    value: "unit_price",
                    sortable: false
                },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                }
            ],
            shipmentHeaders: [
                {
                    text: "id",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                { text: "納品先名", value: "delivery_destination_name" },
                { text: "売上計上日", value: "sales_date" },
                { text: "営業担当者", value: "sales_employee_name" },
                { text: "配送担当者", value: "delivery_employee_name" },
                { text: "小計", value: "subtotal" },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                }
            ],
            invoiceHeaders: [
                {
                    text: "コード",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                {
                    text: "得意先名",
                    align: "start",
                    sortable: false,
                    value: "account_name"
                },
                { text: "請求日", value: "billing_date" },
                { text: "入金予定日", value: "payment_date" },
                { text: "入金確認済", value: "deposited" },
                { text: "小計", value: "subtotal" },
                { text: "消費税", value: "tax" },
                { text: "合計", value: "total" },
                { text: "入金済金額", value: "deposited_amount" },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                }
            ]
        };
    },
    methods: {
        meal_form() {
            this.$axios
                .post(
                    this.apiUrl + "Shipment/meal_form",
                    {
                        shipments: this.shipments.filter(el => {
                            return (
                                this.selected_delivery_destinations.indexOf(
                                    el.delivery_destination_id + ""
                                ) != -1
                            );
                        }),
                        start_date: this.start_date,
                        end_date: this.end_date
                    },
                    { responseType: "blob" }
                )
                .then(res => {
                    var title = "食数確認表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                    //ダウンロードする場合
                    var fileURL = URL.createObjectURL(blob);
                    var fileLink = document.createElement("a");
                    fileLink.href = fileURL;
                    fileLink.download = title;
                    fileLink.click();
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        edit() {
            this.$router.push("/accountEdit?id=" + this.data.id);
        },
        init() {
            this.$axios
                .get(
                    this.apiUrl +
                        "account/getDeliveryDestinationsList/" +
                        this.$route.query.id
                )
                .then(res => {
                    this.deliveryDestinations = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            this.$axios
                .get(
                    this.apiUrl + "account/getPriceList/" + this.$route.query.id
                )
                .then(res => {
                    this.priceList = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            this.$axios
                .get(
                    this.apiUrl + "account/shipmentList/" + this.$route.query.id
                )
                .then(res => {
                    this.shipmentList = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            this.$axios
                .get(
                    this.apiUrl + "account/invoiceList/" + this.$route.query.id
                )
                .then(res => {
                    this.invoiceList = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            this.editcheck();
        },
        editcheck() {
            if (this.$store.getters["auth/user"].restriction_flg) {
                this.editable = false;
            }
        }
    }
};
</script>
