<template>
    <v-app>
        <div>
            <DataCreator
                getPath="account/meta"
                SavePath="account/post"
                title="得意先を登録"
                previusPath="/accountDetail"
            ></DataCreator>
        </div>
    </v-app>
</template>

<script>
import DataCreator from "../../components/dataComponents/dataCreator";
export default {
    name: "AccountCreate",
    components: {
        DataCreator: DataCreator
    },
    data() {
        return {
            data: {},
            meta: null
        };
    },
    created() {
        this.init();
    },
    methods: {
        save() {
            let vm = this;
            this.$axios
                .post(this.apiUrl + "account/post", this.data)
                .then(() => {
                    vm.init();
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        init() {
            this.$axios
                .get(this.apiUrl + "account/meta")
                .then(res => {
                    this.meta = res.data.meta;
                    this.data = {};
                    for (let key in res.data.meta) {
                        this.data[key] = "";
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        }
    }
};
</script>
