<template>
    <div>
        <detadetail
            :getPath="'CustomerUnitPrice/get/' + this.$route.query.id"
            :editPath="'/CustomerUnitPriceEdit?id=' + this.$route.query.id"
            title="得意先別単価詳細"
        ></detadetail>
    </div>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
export default {
    name: "CustomerUnitPriceDetail",
    components: {
        detadetail
    },
    data() {
        return {};
    },
    methods: {
        edit() {
            this.$router.push("/productEdit");
        }
    }
};
</script>
