<template>
    <div>
        <dataEditor
            :getPath="'CustomerUnitPrice/get/' + this.$route.query.id"
            savePath="CustomerUnitPrice/save"
            title="得意先別単価を編集"
        ></dataEditor>
    </div>
</template>

<script>
import dataEditor from "./../../components/dataComponents/dataEditor";
export default {
    name: "CustomerUnitPriceEdit",
    components: {
        dataEditor
    },
    data() {
        return {
            data: []
        };
    },
    methods: {
        edit() {
            this.$router.push("/productEdit");
        }
    }
};
</script>
