<template>
    <v-app>
        <v-container>
            <v-layout justify-center>
                <v-flex xs12 sm4>
                    <v-toolbar color="primary" dark>
                        <v-toolbar-title>ログイン</v-toolbar-title>
                    </v-toolbar>

                    <v-card class="pa-6">
                        <v-container fluid>
                            <v-form ref="form" v-model="valid" lazy-validation>
                                <v-layout row wrap>
                                    <v-flex xs12>
                                        <v-alert
                                            v-if="error"
                                            :value="true"
                                            type="error"
                                            outlined
                                        >
                                            {{ error }}
                                        </v-alert>
                                    </v-flex>
                                </v-layout>

                                <v-layout row wrap>
                                    <v-text-field
                                        input
                                        type="text"
                                        name="username"
                                        label="ID"
                                        outlined
                                        hint="登録しているIDを入力してください"
                                        v-model="loginForm.id"
                                        :rules="userNameRules"
                                        required
                                        @keydown.enter="
                                            keyDownEnter($event.keyCode)
                                        "
                                    ></v-text-field>
                                </v-layout>

                                <v-layout row wrap>
                                    <v-text-field
                                        type="password"
                                        name="password"
                                        label="パスワード"
                                        hint="登録しているパスワードを入力してください"
                                        outlined
                                        v-model="loginForm.password"
                                        :counter="11"
                                        :rules="passwordRules"
                                        required
                                        @keydown.enter="
                                            keyDownEnter($event.keyCode)
                                        "
                                    ></v-text-field>
                                </v-layout>

                                <v-layout row wrap justify-end>
                                    <v-btn
                                        color="success"
                                        :disabled="!valid"
                                        v-on:click="login"
                                        >ログイン</v-btn
                                    >
                                </v-layout>
                            </v-form>
                        </v-container>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script type="module">
export default {
    data() {
        return {
            //入力規制のルールを設定
            userNameRules: [v => !!v || "IDは必須です。"],
            passwordRules: [v => !!v || "パスワードは必須です。"],
            loginForm: {
                id: "",
                password: ""
            },
            error: null,
            valid: true
        };
    },
    methods: {
        keyDownEnter(code) {
            if (code == 13) {
                this.login();
            }
        },
        login: async function() {
            //ここを本来POSTにして外部APIからユーザー名とパスコードがあるのかを検証しあれば返信してもらう、そこから画面の偏移を行う
            let vm = this;
            let response = await this.$store.dispatch(
                "auth/login",
                this.loginForm
            );
            if (response.data.status != 200) {
                vm.error = "IDまたはパスワードが一致しません";
            } else {
                await this.$store.dispatch("auth/currentUser");
                vm.openSnackbar("ログイン成功");
                this.$router.push("/");
            }
        }
    }
};
</script>

<style scoped></style>
