<template>
    <v-app>
        <router-view />
        <v-snackbar v-model="$store.state.snackbar.snackbar">
            <!-- Snackbar内に表示するテキスト  -->
            {{ $store.state.snackbar.text }}
            <template v-slot:action="{ attrs }">
                <!-- ボタンを押したらcloseする -->
                <v-btn color="pink" text v-bind="attrs" @click="closeSnackbar">
                    Close
                </v-btn>
            </template>
        </v-snackbar>
    </v-app>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "App",
    methods: {
        ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"])
    }
};
</script>

<style src="./styles/app.scss" lang="scss" />
<style lang="scss">
.v-label {
    overflow: visible !important;
}
</style>
