<template>
    <v-app>
        <v-container :key="resetKey" fluid class="px-0 px-md-1">
            <ValidationObserver ref="observer" v-slot="{ invalid }" immediate>
                <div @keyup.enter="enterKu" class="tables-dynamic mt-3">
                    <v-row>
                        <v-col cols="12">
                            <v-card class="mb-1 px-sm-0 px-sm-6 py-6">
                                <v-card-title class="pa-5 pb-3">
                                    <p>新規出荷</p>
                                    <v-spacer></v-spacer>
                                </v-card-title>
                                <v-card-text>
                                    <v-row>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <I_date
                                                v-model="shipment.sales_date"
                                                :meta="{
                                                    label: '売上計上日',
                                                    hint: 'aaa'
                                                }"
                                            ></I_date>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                            class="d-none d-sm-block"
                                        >
                                            <I_lockup
                                                v-model="shipment.account_id"
                                                ref="selectAccount"
                                                :dvalue="default_account"
                                                @input="selectedAccount"
                                                :meta="{
                                                    label: '得意先',
                                                    hint: '得意先を検索',
                                                    searchPath:
                                                        'account/search',
                                                    itemText: 'id',
                                                    itemValue: 'id'
                                                }"
                                            ></I_lockup>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <ValidationProvider
                                                v-slot="{ errors, valid }"
                                                name="配送先"
                                                rules="required"
                                            >
                                                <I_lockup
                                                    v-model="
                                                        shipment.delivery_destination_id
                                                    "
                                                    @input="setAccount"
                                                    :meta="{
                                                        label: '配送先',
                                                        hint: undefined,
                                                        searchPath:
                                                            shipment.account_id !=
                                                            null
                                                                ? 'deliveryDestination/search/' +
                                                                  shipment.account_id
                                                                : 'deliveryDestination/search',
                                                        itemText: 'id',
                                                        itemValue: 'id'
                                                    }"
                                                    :errorMessages="errors"
                                                    :success="valid"
                                                ></I_lockup> </ValidationProvider
                                        ></v-col>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <I_lockup
                                                v-model="
                                                    shipment.sales_employee_id
                                                "
                                                :dvalue="default_user"
                                                :meta="{
                                                    label: '売上担当者',
                                                    hint: undefined,
                                                    searchPath:
                                                        'employee/search',
                                                    itemText: 'id',
                                                    itemValue: 'id'
                                                }"
                                            ></I_lockup>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <ValidationProvider
                                                v-slot="{ errors, valid }"
                                                name="配送担当者"
                                                rules="required"
                                            >
                                                <I_lockup
                                                    v-model="
                                                        shipment.delivery_employee_id
                                                    "
                                                    :dvalue="default_user"
                                                    :meta="{
                                                        label: '配送担当者',
                                                        hint: undefined,
                                                        hint: undefined,
                                                        searchPath:
                                                            'employee/search',
                                                        itemText: 'id',
                                                        itemValue: 'id'
                                                    }"
                                                    :errorMessages="errors"
                                                    :success="valid"
                                                ></I_lockup>
                                            </ValidationProvider>
                                        </v-col>

                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <I_check
                                                v-model="
                                                    shipment.individual_invoice_flg
                                                "
                                                :meta="{
                                                    label: '個別請求',
                                                    hint:
                                                        '請求書を分ける場合はチェックして下さい'
                                                }"
                                            ></I_check>
                                        </v-col>
                                        <v-col
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <I_check
                                                v-model="shipment.cash_receipt"
                                                :meta="{
                                                    label: '現金受領',
                                                    hint:
                                                        '現金受領分はチェックして下さい'
                                                }"
                                            ></I_check>
                                        </v-col>

                                        <v-col
                                            cols="12"
                                            class="d-none d-sm-block"
                                        >
                                            <I_textarea
                                                v-model="shipment.remarks"
                                                :meta="{
                                                    label: '備考',
                                                    height: 2.5,
                                                    hint: undefined,
                                                    searchPath: ''
                                                }"
                                            ></I_textarea>
                                        </v-col>
                                    </v-row>
                                    <v-data-table
                                        :headers="headers"
                                        :items="shipment.shipmentLineItem"
                                        :dense="true"
                                        class="elevation-1"
                                        :options="{ itemsPerPage: 99 }"
                                        hide-default-footer
                                    >
                                        <template v-slot:top>
                                            <div class="px-6">
                                                <v-row>
                                                    <v-col
                                                        cols="12"
                                                        sm="6"
                                                        md="3"
                                                        ><h6>
                                                            出荷明細
                                                        </h6></v-col
                                                    >
                                                    <v-spacer></v-spacer>
                                                    <v-col
                                                        cols="12"
                                                        sm="6"
                                                        md="3"
                                                        class="text-right"
                                                    >
                                                        <v-btn
                                                            color="primary"
                                                            dark
                                                            class="mb-2"
                                                            @click="addLineItem"
                                                        >
                                                            追加
                                                        </v-btn>
                                                    </v-col>
                                                </v-row>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.item`]="{
                                                item,
                                                index
                                            }"
                                        >
                                            <div class="detail_cell">
                                                <ValidationProvider
                                                    v-if="index == 0"
                                                    v-slot="{ errors, valid }"
                                                    name="商品"
                                                    rules="required"
                                                >
                                                    <I_lockup
                                                        filled
                                                        :ref="
                                                            'shipment_line_item_' +
                                                                index
                                                        "
                                                        v-model.number="
                                                            item.item
                                                        "
                                                        :meta="{
                                                            label: undefined,
                                                            hint: undefined,
                                                            itemValue:
                                                                'product_id',
                                                            itemText:
                                                                'product_id',

                                                            searchPath:
                                                                'Shipment/searchCustomerUnitPrice'
                                                        }"
                                                        :errorMessages="errors"
                                                        :success="valid"
                                                        @input="
                                                            searchProduct(index)
                                                        "
                                                    ></I_lockup>
                                                </ValidationProvider>

                                                <I_lockup
                                                    filled
                                                    v-if="index != 0"
                                                    :ref="
                                                        'shipment_line_item_' +
                                                            index
                                                    "
                                                    v-model.number="item.item"
                                                    :meta="{
                                                        label: undefined,
                                                        hint: undefined,
                                                        itemValue: 'product_id',
                                                        itemText: 'product_id',

                                                        searchPath:
                                                            'Shipment/searchCustomerUnitPrice'
                                                    }"
                                                    :errorMessages="errors"
                                                    :success="valid"
                                                    @input="
                                                        searchProduct(index)
                                                    "
                                                ></I_lockup>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.quantity`]="{
                                                item,
                                                index
                                            }"
                                        >
                                            <div class="detail_cell">
                                                <ValidationProvider
                                                    v-if="index == 0"
                                                    v-slot="{ errors, valid }"
                                                    name="数量"
                                                    rules="required"
                                                >
                                                    <I_number
                                                        v-model.number="
                                                            item.quantity
                                                        "
                                                        :meta="{
                                                            label: undefined,
                                                            hint: undefined
                                                        }"
                                                        :errorMessages="errors"
                                                        :success="valid"
                                                    ></I_number>
                                                </ValidationProvider>
                                                <I_number
                                                    v-if="index != 0"
                                                    v-model.number="
                                                        item.quantity
                                                    "
                                                    :meta="{
                                                        label: undefined,
                                                        hint: undefined
                                                    }"
                                                ></I_number>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.unit_price`]="{
                                                item
                                            }"
                                        >
                                            <div class="detail_cell">
                                                <I_number
                                                    v-if="editable"
                                                    v-model.number="
                                                        item.unit_price
                                                    "
                                                    :meta="{
                                                        label: undefined,
                                                        dense: true,
                                                        hint: undefined
                                                    }"
                                                ></I_number>
                                                <span v-if="!editable">{{
                                                    item.unit_price
                                                }}</span>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.TaxType`]="{ item }"
                                        >
                                            <div class="detail_cell">
                                                <I_select
                                                    v-model.number="
                                                        item.TaxType
                                                    "
                                                    v-if="editable"
                                                    :meta="{
                                                        label: undefined,
                                                        dense: true,
                                                        Required: true,
                                                        items: [
                                                            '外税',
                                                            '内税',
                                                            '非課税'
                                                        ]
                                                    }"
                                                ></I_select>
                                                <span v-if="!editable">{{
                                                    item.TaxType
                                                }}</span>
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.amount`]="{ item }"
                                        >
                                            <div class="detail_cell">
                                                {{
                                                    item.unit_price *
                                                    item.quantity
                                                        ? item.unit_price *
                                                          item.quantity
                                                        : ""
                                                }}
                                            </div>
                                        </template>
                                        <template
                                            v-slot:[`item.del_btn`]="{ index }"
                                        >
                                            <v-btn
                                                depressed
                                                color="error"
                                                @click="remove(index)"
                                            >
                                                削除
                                                <v-icon right>
                                                    mdi-close
                                                </v-icon>
                                            </v-btn>
                                        </template>
                                        <template v-slot:footer></template>
                                    </v-data-table>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-spacer
                                        class="d-sm-block d-none"
                                    ></v-spacer>

                                    <v-row>
                                        <v-col cols="12" xs="12" sm="6">
                                            <v-btn
                                                color="primary"
                                                dark
                                                block
                                                large
                                                :disabled="invalid"
                                                @click="
                                                    save();
                                                    dialog = false;
                                                "
                                            >
                                                保存
                                            </v-btn></v-col
                                        >
                                        <v-col cols="12" xs="12" sm="6">
                                            <v-btn
                                                color="blue darken-1"
                                                text
                                                block
                                                large
                                                @click="close()"
                                            >
                                                閉じる
                                            </v-btn>
                                        </v-col>
                                    </v-row>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </div>
            </ValidationObserver>
        </v-container>
    </v-app>
</template>

<script>
function initialState() {
    return {
        editable: true,
        selectAccount: null,
        default_user: null,
        default_account: null,
        headers: [
            {
                text: "商品",
                align: "start",
                sortable: false,
                value: "item"
            },
            {
                text: "数量",
                align: "start",
                sortable: false,
                value: "quantity"
            },
            {
                text: "単価",
                align: "start",
                sortable: false,
                value: "unit_price"
            },
            {
                text: "税区分",
                align: "start",
                sortable: false,
                value: "TaxType"
            },
            {
                text: "金額",
                align: "start",
                sortable: false,
                value: "amount"
            },
            {
                text: "",
                align: "start",
                sortable: false,
                value: "del_btn"
            }
        ],
        shipment: {
            subject: null,
            account_id: null,
            delivery_destination_id: null,
            sales_employee_id: null,
            delivery_employee_id: null,
            remarks: null,
            sales_date: null,
            individual_invoice_flg: false,
            cash_receipt: false,
            // 出荷美はいらないとのことなのでコメントアウト
            // ship_date: null,
            shipmentLineItem: [
                {
                    item: null,
                    quantity: "",
                    unit_price: "",
                    price: "",
                    TaxType: ""
                }
            ]
        },
        TaxType: ""
    };
}
import { mapActions } from "vuex";
import { localize, ValidationObserver, ValidationProvider } from "vee-validate";
import ja from "vee-validate/dist/locale/ja.json";
localize("ja", ja);
export default {
    name: "shipmentCreate",
    components: {
        ValidationProvider,
        ValidationObserver
    },
    created() {
        /*
        if (this.$store.getters["auth/user"].is_delivery_staff) {
            this.$axios
                .get(
                    this.apiUrl +
                        "takeout/entered/" +
                        this.$store.getters["auth/user"].id
                )
                .then(res => {
                    if (res.data == "") {
                        this.openSnackbar("持ち出し数を入力してください");
                        this.$router.push("/takeOutCreate");
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        }*/

        this.init();
    },
    data() {
        return { resetKey: 0, ...initialState() };
    },
    methods: {
        ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"]),
        save() {
            let vm = this;
            this.$axios
                .post(this.apiUrl + "Shipment/post", this.shipment)
                .then(res => {
                    console.log(res);
                    vm.init();
                    this.resetKey++;
                    window.scrollTo({
                        top: 0,
                        behavior: "smooth"
                    });
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
            this.openSnackbar("保存しました");
        },
        enterKu() {
            console.log(document.activeElement);

            var els = document.getElementsByClassName("v-input");
            var inputs = [];
            for (let el of els) {
                inputs.push(el.getElementsByTagName("input")[0]);
            }
            inputs[inputs.indexOf(document.activeElement) + 1].focus();
            console.log(inputs);
            console.log(inputs.indexOf(document.activeElement));
        },
        setAccount() {
            let vm = this;
            this.$axios
                .get(
                    this.apiUrl +
                        "deliveryDestination/get/" +
                        this.shipment.delivery_destination_id
                )
                .then(res => {
                    if (res.data.data != null) {
                        vm.shipment.account_id = res.data.data.account_id;
                        vm.default_account = res.data.data.account;
                        vm.selectedAccount();
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
        },
        selectedAccount() {
            let vm = this;
            this.$axios
                .get(this.apiUrl + "account/get/" + this.shipment.account_id)
                .then(res => {
                    if (res.data.data != null) {
                        vm.selectAccount = res.data.data;
                    } else {
                        vm.selectAccount = null;
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
        },
        addLineItem() {
            this.shipment.shipmentLineItem.push({
                item: null,
                quantity: "",
                unit_price: "",
                price: "",
                TaxType: ""
            });
        },
        remove(index) {
            this.shipment.shipmentLineItem.splice(index, 1);
        },
        searchProduct(index) {
            let vm = this;
            this.$axios
                .get(
                    this.apiUrl +
                        "Shipment/getItemPrice?item=" +
                        this.shipment.shipmentLineItem[index].item +
                        "&account=" +
                        this.shipment.account_id
                )
                .then(function(response) {
                    // handle success(this.$axiosの処理が成功した場合に処理させたいことを記述)
                    vm.shipment.shipmentLineItem[index].unit_price =
                        response.data.unit_price;
                    if (response.data.product.taxation_flg == "あり") {
                        vm.shipment.shipmentLineItem[index].TaxType =
                            vm.selectAccount.TaxType;
                        vm.shipment.shipmentLineItem[index].tax =
                            vm.$refs[
                                "shipment_line_item_" + index
                            ].entries[0].tax;
                    } else {
                        vm.shipment.shipmentLineItem[index].TaxType = "非課税";
                        vm.shipment.shipmentLineItem[index].tax = 0;
                    }
                })
                .catch(function(error) {
                    vm.openSnackbar(error);
                    // handle error(this.$axiosの処理にエラーが発生した場合に処理させたいことを記述)
                    console.log(error);
                });
            for (let item of this.shipment.shipmentLineItem) {
                if (item.item == null) {
                    return;
                }
            }
            this.addLineItem();
        },
        getDateString(date) {
            return (
                date.getFullYear() +
                "-" +
                ("0" + (date.getMonth() + 1)).slice(-2) +
                "-" +
                ("0" + date.getDate()).slice(-2)
            );
        },
        close() {
            this.$router.go(-1);
        },
        init() {
            Object.assign(this.$data, initialState());
            this.shipment.sales_date = this.getDateString(new Date());
            // 出荷美はいらないとのことなのでコメントアウト
            // this.shipment.ship_date = this.getDateString(new Date());
            this.shipment.sales_employee_id = this.$store.getters[
                "auth/user"
            ].id;
            this.shipment.delivery_employee_id = this.$store.getters[
                "auth/user"
            ].id;
            this.default_user = this.$store.getters["auth/user"];
            this.editable = !this.$store.getters["auth/user"].is_delivery_staff;
        }
    },
    watch: {
        "shipment.account_id": function(val) {
            this.$refs.selectAccount.entries.forEach(element => {
                if (element.id == val) {
                    this.TaxType = element.TaxType;
                }
            });
        }
    }
};
</script>
