<template>
  <v-app>
    <v-card background-color="transparent" class="mt-6">
      <v-tabs v-model="tab" align-with-title>
        <v-tab> 詳細情報 </v-tab>
        <v-tab> 更新履歴 </v-tab>
      </v-tabs>
    </v-card>
    <v-tabs-items v-model="tab" style="background-color: transparent">
      <v-tab-item>
        <detadetail
          :getPath="'Shipment/get/' + this.$route.query.id"
          :editPath="editable ? '/shipmentEdit?id=' + this.$route.query.id : ''"
          title="出荷詳細"
        ></detadetail>
        <detalist
          editPath=""
          detailPath=""
          createPath=""
          title="出荷明細一覧"
          discription=""
          :data="LineItemList"
          :headers="ShipmentLineItemHeaders"
        >
          <template slot="buttons"></template>
        </detalist>
      </v-tab-item>
      <v-tab-item>
        <v-data-table
          :headers="headers"
          :items="historyList"
          item-key="id"
          sort-by="take_out_staff_id"
          group-by="version"
          class="elevation-1"
          :loading="loading"
          :items-per-page="50"
          show-group-by
        >
          <template v-slot:group.header="{ items, isOpen, toggle }">
            <th colspan="6">
              <v-icon @click="toggle">{{ isOpen ? "mdi-minus" : "mdi-plus" }} </v-icon>
              バージョン{{ items[0].version }} : {{ items[0].create_date }} : 作成者
              {{ items[0].created_by }}
            </th>
          </template>
        </v-data-table>
      </v-tab-item>
    </v-tabs-items>
  </v-app>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
import detaList from "./../../components/dataComponents/dataList";
export default {
  name: "shipmentDetail",
  components: {
    detadetail: detadetail,
    detalist: detaList,
  },
  created() {
    this.init();
  },
  data() {
    return {
      LineItemList: [],
      tab: null,
      data: {},
      meta: null,
      editable: true,
      ShipmentLineItemHeaders: [
        {
          text: "商品名",
          align: "start",
          sortable: false,
          value: "product_name",
        },
        { text: "単価", value: "unit_price" },
        { text: "数量", value: "quantity" },
        { text: "金額", value: "subtotal" },
        { text: "税区分", value: "TaxType" },
      ],
      historyList: [],
      headers: [
        { text: "バージョン", value: "version", groupable: true },
        { text: "商品名", value: "product_name", groupable: false },
        { text: "数量", value: "quantity", groupable: false },
        { text: "単価", value: "unit_price", groupable: false },
        { text: "税区分", value: "TaxType", groupable: false },
        { text: "消費税", value: "tax", groupable: false },
      ],
      loading: false,
    };
  },
  methods: {
    editcheck() {
      this.$axios
        .get(this.apiUrl + "Shipment/get/" + this.$route.query.id)
        .then((res) => {
          console.log(res.data.data);
          if (res.data.data.status == "入金確認済") {
            this.editable = false;
          }
        })
        .catch((err) => {
          this.openSnackbar(err);
          console.log(err);
        });
    },
    edit() {
      this.$router.push("/shipMentEdit?id=" + this.data.id);
    },
    getHistory() {
      let vm = this;
      this.$axios
        .get(this.apiUrl + "Shipment/history/" + this.$route.query.id)
        .then((res) => {
          console.log(res);
          vm.historyList = res.data;
        })
        .catch((err) => {
          this.openSnackbar(err);
          console.log(err);
        });
    },
    init() {
      this.$axios
        .get(this.apiUrl + "account/get/" + this.$route.query.id)
        .then((res) => {
          this.data = res.data.data;
          this.meta = res.data.meta;
        })
        .catch((err) => {
          this.openSnackbar(err);
          console.log(err);
          //dispatch('loginError', err.response.data);
        });
      this.$axios
        .get(this.apiUrl + "Shipment/LineItemList/" + this.$route.query.id)
        .then((res) => {
          this.LineItemList = res.data.data;
        })
        .catch((err) => {
          this.openSnackbar(err);
          console.log(err);
          //dispatch('loginError', err.response.data);
        });
      this.editcheck();
      this.getHistory();
    },
  },
};
</script>
