<template>
    <v-app>
        <v-container fluid class="px-0 px-md-1">
            <div class="tables-dynamic mt-3">
                <v-row>
                    <v-col cols="12">
                        <v-card class="mb-1 px-sm-0 px-sm-6 py-6">
                            <v-card-title class="pa-5 pb-3">
                                <p>出荷編集画面</p>
                                <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="12" xs="12" sm="6">
                                        <I_date
                                            v-model="shipment.sales_date"
                                            :meta="{
                                                label: '売上計上日',
                                                hint: 'aaa'
                                            }"
                                        ></I_date>
                                    </v-col>
                                    <v-col
                                        cols="12"
                                        xs="12"
                                        sm="6"
                                        class="d-none d-sm-block"
                                    >
                                        <I_lockup
                                            v-model="shipment.account_id"
                                            ref="selectAccount"
                                            :dvalue="default_account"
                                            @input="selectedAccount"
                                            :meta="{
                                                label: '得意先',
                                                hint: '得意先を検索',
                                                searchPath: 'account/search',
                                                itemText: 'id',
                                                itemValue: 'id'
                                            }"
                                        ></I_lockup>
                                    </v-col>
                                    <v-col cols="12" xs="12" sm="6">
                                        <I_lockup
                                            v-model="
                                                shipment.delivery_destination_id
                                            "
                                            :dvalue="
                                                shipment.delivery_destination
                                            "
                                            @input="setAccount"
                                            :meta="{
                                                label: '配送先',
                                                hint: undefined,
                                                searchPath:
                                                    shipment.account_id != null
                                                        ? 'deliveryDestination/search/' +
                                                          shipment.account_id
                                                        : 'deliveryDestination/search',
                                                itemText: 'id',
                                                itemValue: 'id'
                                            }"
                                        ></I_lockup
                                    ></v-col>
                                    <v-col cols="12" xs="12" sm="6">
                                        <I_lockup
                                            v-model="shipment.sales_employee_id"
                                            :dvalue="shipment.sales_employee"
                                            :meta="{
                                                label: '売上担当者',
                                                hint: undefined,
                                                searchPath: 'employee/search',
                                                itemText: 'id',
                                                itemValue: 'id'
                                            }"
                                            code="code"
                                        ></I_lockup>
                                    </v-col>
                                    <v-col cols="12" xs="12" sm="6">
                                        <I_lockup
                                            v-model="
                                                shipment.delivery_employee_id
                                            "
                                            :dvalue="shipment.delivery_employee"
                                            :meta="{
                                                label: '配送担当者',
                                                hint: undefined,
                                                hint: undefined,
                                                searchPath: 'employee/search',
                                                itemText: 'id',
                                                itemValue: 'id'
                                            }"
                                            code="id"
                                        ></I_lockup>
                                    </v-col>

                                    <v-col cols="12" xs="12" sm="6">
                                        <I_check
                                            v-model="
                                                shipment.individual_invoice_flg
                                            "
                                            :meta="{
                                                label: '個別請求',
                                                hint:
                                                    '請求書を分ける場合はチェックして下さい'
                                            }"
                                        ></I_check>
                                    </v-col>

                                    <v-col cols="12" xs="12" sm="6">
                                        <I_check
                                            v-model="shipment.cash_receipt"
                                            :meta="{
                                                label: '現金受領',
                                                hint:
                                                    '現金受領分はチェックして下さい'
                                            }"
                                        ></I_check>
                                    </v-col>

                                    <v-col cols="12">
                                        <I_textarea
                                            v-model="shipment.remarks"
                                            class="d-none d-sm-block"
                                            :meta="{
                                                label: '備考',
                                                height: 2,
                                                hint: undefined,
                                                searchPath: ''
                                            }"
                                        ></I_textarea>
                                    </v-col>
                                </v-row>
                                <v-data-table
                                    :headers="headers"
                                    :items="shipment.shipment_line_items"
                                    :dense="true"
                                    class="elevation-1"
                                    :options="{ itemsPerPage: 99 }"
                                    hide-default-footer
                                >
                                    <template v-slot:top>
                                        <div class="px-6">
                                            <v-row>
                                                <v-col cols="12" sm="6" md="3"
                                                    ><h6>出荷明細</h6></v-col
                                                >
                                                <v-spacer></v-spacer>
                                                <v-col
                                                    cols="12"
                                                    sm="6"
                                                    md="3"
                                                    class="text-right"
                                                >
                                                    <v-btn
                                                        color="primary"
                                                        dark
                                                        class="mb-2"
                                                        @click="addLineItem"
                                                    >
                                                        追加
                                                    </v-btn>
                                                </v-col>
                                            </v-row>
                                        </div>
                                    </template>
                                    <template
                                        v-slot:[`item.item`]="{ item, index }"
                                    >
                                        <I_lockup
                                            :ref="'shipment_line_item_' + index"
                                            v-model="item.product_id"
                                            :dvalue="item.product"
                                            :meta="{
                                                label: undefined,
                                                dense: true,
                                                hint: undefined,
                                                itemValue: 'id',
                                                itemText: 'id',

                                                searchPath:
                                                    'Shipment/searchCustomerUnitPrice'
                                            }"
                                            @input="searchProduct(index)"
                                        ></I_lockup>
                                    </template>
                                    <template
                                        v-slot:[`item.quantity`]="{ item }"
                                    >
                                        <I_number
                                            v-model.number="item.quantity"
                                            :meta="{
                                                label: undefined,
                                                dense: true,
                                                hint: undefined
                                            }"
                                        ></I_number>
                                    </template>
                                    <template
                                        v-slot:[`item.unit_price`]="{ item }"
                                    >
                                        <I_number
                                            v-if="editable"
                                            v-model.number="item.unit_price"
                                            :meta="{
                                                label: undefined,
                                                dense: true,
                                                hint: undefined
                                            }"
                                        ></I_number>
                                        <span v-if="!editable">{{
                                            item.unit_price
                                        }}</span>
                                    </template>
                                    <template
                                        v-slot:[`item.TaxType`]="{ item }"
                                    >
                                        <I_select
                                            v-model.number="item.TaxType"
                                            v-if="editable"
                                            :meta="{
                                                label: undefined,
                                                dense: true,
                                                Required: true,
                                                items: [
                                                    '外税',
                                                    '内税',
                                                    '非課税'
                                                ]
                                            }"
                                        ></I_select>
                                        <span v-if="!editable">{{
                                            item.TaxType
                                        }}</span>
                                    </template>
                                    <template v-slot:[`item.amount`]="{ item }">
                                        <div style="width: 50px">
                                            {{
                                                item.unit_price * item.quantity
                                                    ? item.unit_price *
                                                      item.quantity
                                                    : ""
                                            }}
                                        </div>
                                    </template>
                                    <template
                                        v-slot:[`item.del_btn`]="{ index }"
                                    >
                                        <v-btn
                                            depressed
                                            color="error"
                                            @click="remove(index)"
                                        >
                                            削除
                                            <v-icon right> mdi-close </v-icon>
                                        </v-btn>
                                    </template>
                                    <template v-slot:footer></template>
                                </v-data-table>
                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                                <v-spacer class="d-sm-block d-none"></v-spacer>
                                <v-row>
                                    <v-col cols="12" xs="12" sm="6">
                                        <v-btn
                                            color="primary"
                                            dark
                                            block
                                            large
                                            @click="
                                                save();
                                                dialog = false;
                                            "
                                        >
                                            保存
                                        </v-btn></v-col
                                    >
                                    <v-col cols="12" xs="12" sm="6">
                                        <v-btn
                                            color="blue darken-1"
                                            text
                                            block
                                            large
                                            @click="close"
                                        >
                                            閉じる
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-container>
    </v-app>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "shipmentCreate",
    components: {},
    created() {
        this.init();
    },
    data() {
        return {
            editable: true,
            selectAccount: null,
            default_user: null,
            default_account: null,
            headers: [
                {
                    text: "商品",
                    align: "start",
                    sortable: false,
                    value: "item"
                },
                {
                    text: "数量",
                    align: "start",
                    sortable: false,
                    value: "quantity"
                },
                {
                    text: "単価",
                    align: "start",
                    sortable: false,
                    value: "unit_price"
                },
                {
                    text: "税区分",
                    align: "start",
                    sortable: false,
                    value: "TaxType"
                },
                {
                    text: "金額",
                    align: "start",
                    sortable: false,
                    value: "amount"
                },
                {
                    text: "",
                    align: "start",
                    sortable: false,
                    value: "del_btn"
                }
            ],
            shipment: {},
            TaxType: ""
        };
    },
    methods: {
        ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"]),
        save() {
            let vm = this;
            let data = this.deleteProperty(this.shipment);
            this.$axios
                .post(this.apiUrl + "Shipment/save", data)
                .then(res => {
                    console.log(res);
                    vm.init();
                    this.openSnackbar("保存しました");
                    this.$router.go(-1);
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        close() {
            this.$router.go(-1);
        },
        editcheck() {
            let vm = this;
            this.$axios
                .get(this.apiUrl + "Shipment/get/" + this.$route.query.id)
                .then(res => {
                    console.log(res.data.data);
                    if (res.data.data.status == "入金確認済") {
                        vm.openSnackbar("入金確認済の出荷は編集できません");
                        vm.$router.go(-1);
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        setAccount() {
            let vm = this;
            this.$axios
                .get(
                    this.apiUrl +
                        "deliveryDestination/get/" +
                        this.shipment.delivery_destination_id
                )
                .then(res => {
                    console.log(res);
                    if (res.data.data != null) {
                        vm.shipment.account_id = res.data.data.account_id;
                        vm.default_account = res.data.data.account;
                        vm.selectedAccount();
                    }
                    this.shipment.delivery_destination = null;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        selectedAccount() {
            let vm = this;
            this.$axios
                .get(this.apiUrl + "account/get/" + this.shipment.account_id)
                .then(res => {
                    if (res.data != null) {
                        vm.selectAccount = res.data.data;
                    } else {
                        vm.selectAccount = null;
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
        },
        addLineItem() {
            this.shipment.shipment_line_items.push({
                product: null,
                product_id: null,
                tax: null,
                quantity: 1,
                unit_price: "",
                price: "",
                TaxType: ""
            });
        },
        remove(index) {
            this.shipment.shipment_line_items.splice(index, 1);
        },
        searchProduct(index) {
            console.log("a");
            //if (index == index) return;
            console.log("a");
            let vm = this;

            this.$axios
                .get(
                    this.apiUrl +
                        "Shipment/getItemPrice?item=" +
                        this.shipment.shipment_line_items[index].product_id +
                        "&account=" +
                        this.shipment.account_id
                )
                .then(function(response) {
                    console.log(response);
                    // handle success(this.$axiosの処理が成功した場合に処理させたいことを記述)
                    vm.shipment.shipment_line_items[index].unit_price =
                        response.data.unit_price;
                    if (response.data.product.taxation_flg == "あり") {
                        vm.shipment.shipment_line_items[index].TaxType =
                            vm.selectAccount.TaxType;
                        vm.shipment.shipment_line_items[index].tax =
                            vm.$refs[
                                "shipment_line_item_" + index
                            ].entries[0].tax;
                    } else {
                        vm.shipment.shipment_line_items[index].tax = 0;
                    }
                    console.log("b");
                    console.log();
                    console.log("b");
                })
                .catch(function(error) {
                    this.openSnackbar(error);
                    console.log(error);
                    // handle error(this.$axiosの処理にエラーが発生した場合に処理させたいことを記述)
                    console.log(error);
                });

            /*
            for (let item of this.shipment.shipmentLineItem) {
                if (item.item == null) {
                    return;
                }
            }
            this.addLineItem();
            */
        },
        getDateString(date) {
            return (
                date.getFullYear() +
                "-" +
                ("0" + (date.getMonth() + 1)).slice(-2) +
                "-" +
                ("0" + date.getDate()).slice(-2)
            );
        },
        init() {
            let vm = this;
            this.editcheck();
            this.editable = !this.$store.getters["auth/user"].is_delivery_staff;
            this.$axios
                .get(this.apiUrl + "Shipment/get/" + this.$route.query.id)
                .then(res => {
                    vm.shipment = res.data.data;
                    vm.meta = res.data.meta;
                    this.selectAccount = this.shipment.account;
                    this.default_account = this.shipment.account;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        deleteProperty(data) {
            delete data.account;
            delete data.delivery_destination;
            delete data.delivery_employee;
            delete data.invoice;
            delete data.sales_employee;
            delete data.created_at;
            delete data.created_by;
            delete data.updated_at;
            delete data.updated_by;
            delete data.invoice_id;
            delete data.deleted_by;
            delete data.account_name;
            delete data.sales_employee_name;
            delete data.delivery_destination_name;
            delete data.subtotal;
            delete data.billed;
            data.shipment_line_items.forEach(shipmentLineItem => {
                delete shipmentLineItem.product;
                delete shipmentLineItem.id;
                delete shipmentLineItem.shipment_id;
                delete shipmentLineItem.created_at;
                delete shipmentLineItem.created_by;
                delete shipmentLineItem.updated_at;
                delete shipmentLineItem.updated_by;
                delete shipmentLineItem.deleted_by;
                delete shipmentLineItem.subtotal;
                delete shipmentLineItem.product_name;
            });
            return data;
        }
    },
    watch: {
        "shipment.account_id": function(val) {
            this.$refs.selectAccount.entries.forEach(element => {
                if (element.id == val) {
                    this.TaxType = element.TaxType;
                }
            });
        }
    }
};
</script>
