<template>
    <v-container fluid class="px-0">
        <v-container fluid class="px-0">
            <v-expansion-panels v-if="reset" v-model="panel">
                <v-expansion-panel :elevation="5">
                    <v-expansion-panel-header>検索</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-row>
                            <v-col cols="12" sm="6"
                                ><I_date
                                    v-model="searchForm.start_sales_date"
                                    :meta="{
                                        label: '売上計上日~'
                                    }"
                                ></I_date
                            ></v-col>
                            <v-col cols="12" sm="6"
                                ><I_date
                                    v-model="searchForm.end_sales_date"
                                    :meta="{
                                        label: '~売上計上日'
                                    }"
                                ></I_date
                            ></v-col>
                            <v-col cols="12" sm="6"
                                ><I_lockup
                                    v-model="searchForm.sales_employee_id"
                                    :meta="{
                                        label: '売上担当者',
                                        hint: undefined,
                                        searchPath: 'employee/search',
                                        itemText: 'id',
                                        itemValue: 'id'
                                    }"
                                    code="id"
                                ></I_lockup
                            ></v-col>
                            <v-col cols="12" sm="6"
                                ><I_lockup
                                    v-model="searchForm.delivery_employee_id"
                                    :meta="{
                                        label: '配送担当者',
                                        hint: undefined,
                                        searchPath: 'employee/search',
                                        itemText: 'id',
                                        itemValue: 'id'
                                    }"
                                    :dvalue="default_user"
                                    code="id"
                                ></I_lockup
                            ></v-col>
                            <v-col cols="12" sm="6">
                                <I_text
                                    v-model="searchForm.account_name"
                                    :meta="{
                                        label: '得意先名'
                                    }"
                                ></I_text>
                            </v-col>
                            <v-col cols="12" sm="6"
                                ><I_text
                                    v-model="searchForm.account_id"
                                    :meta="{
                                        label: '得意先ID'
                                    }"
                                ></I_text
                            ></v-col>
                            <v-col cols="12" sm="6">
                                <I_text
                                    v-model="
                                        searchForm.delivery_destination_name
                                    "
                                    :meta="{
                                        label: '納品先名'
                                    }"
                                ></I_text>
                            </v-col>
                            <v-col cols="12" sm="6"
                                ><I_text
                                    v-model="searchForm.delivery_destination_id"
                                    :meta="{
                                        label: '納入先ID'
                                    }"
                                ></I_text
                            ></v-col>
                        </v-row>

                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            @click="search"
                            dark
                            class="mr-1"
                        >
                            検索
                        </v-btn>
                        <v-btn color="primary" @click="crear" dark class="">
                            リセット
                        </v-btn>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-container>
        <dataList
            editPath="/shipmentEdit"
            detailPath="/shipmentDetail"
            createPath="/shipmentCreate"
            deletePath="Shipment/delete"
            title="出荷一覧"
            :data="data"
            discription=""
            :headers="headers"
            :loading="loading"
            @delete="search"
            ><template slot="buttons"
                ><v-btn dark class="mb-2 ml-2" color="primary" @click="ListForm"
                    >売上一覧表を出力</v-btn
                ></template
            ></dataList
        >
    </v-container>
</template>

<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "shipmentList",
    components: {
        dataList: dataList
    },
    data() {
        return {
            loading: false,
            reset: true,
            ddelivery_employee_id: {},
            dsales_employee_id: {},
            default_user: null,
            searchForm: {
                start_sales_date: "",
                end_sales_date: "",
                sales_employee_id: "",
                delivery_employee_id: "",
                account_name: "",
                delivery_destination_name: "",
                delivery_destination_id: "",
                account_id: ""
            },
            panel: 0,
            data: [],
            selected: [],
            headers: [
                {
                    text: "id",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                { text: "納品先名", value: "delivery_destination_name" },
                { text: "売上計上日", value: "sales_date" },
                { text: "配送担当者", value: "delivery_employee_name" },
                { text: "小計", value: "subtotal" },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "delete",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    created() {
        if (window.location.search) {
            this.init();
        } else if (this.$store.getters["auth/user"].is_delivery_staff) {
            this.searchForm.start_sales_date = this.DateToStr(new Date());
            this.searchForm.end_sales_date = this.DateToStr(new Date());

            this.searchForm.delivery_employee_id = this.$store.getters[
                "auth/user"
            ].id;
            this.default_user = this.$store.getters["auth/user"];
            console.log(this.searchForm);
            this.search();
            this.panel = null;
        } else {
            this.init();
        }
    },
    methods: {
        ListForm() {
            this.$axios
                .post(this.apiUrl + "Shipment/listForm", this.searchForm, {
                    responseType: "blob"
                })
                .then(res => {
                    console.log(res);
                    var title = "売上確認表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                    //ダウンロードする場合
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        search() {
            this.loading = true;
            if (window.location.search) {
                this.$router.push({
                    name: this.$route.name,
                    query: {}
                });
            }
            this.$router
                .push({
                    name: this.$route.name,
                    query: this.searchForm
                })
                .catch();
            this.$axios
                .get(this.apiUrl + "Shipment/search", {
                    params: this.searchForm
                })
                .then(res => {
                    console.log(res);
                    this.data = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        crear() {
            this.searchForm = {
                start_sales_date: "",
                end_sales_date: "",
                sales_employee_id: "",
                delivery_employee_id: "",
                account_name: "",
                delivery_destination_name: "",
                delivery_destination_id: "",
                account_id: ""
            };
        },
        init() {
            this.crear();
            if (window.location.search) {
                var queries = location.search
                    ? location.search.substr(1).split("&")
                    : [];
                this.searchForm = queries.reduce(function(acc, q) {
                    var key = q.split("=")[0];
                    var value = q.split("=")[1];
                    acc[key] = decodeURIComponent(value);
                    return acc;
                }, {});

                this.search();
            } else if (this.$store.getters["auth/user"].is_delivery_staff) {
                this.searchForm.start_sales_date = this.DateToStr(new Date());
                this.searchForm.end_sales_date = this.DateToStr(new Date());

                this.searchForm.delivery_employee_id = this.$store.getters[
                    "auth/user"
                ].id;
                this.default_user = this.$store.getters["auth/user"];
                console.log(this.searchForm);
                this.search();
            } else {
                this.crear();
            }

            if (this.$store.getters["auth/user"].is_delivery_staff) {
                this.panel = null;
            }

            this.reset = false;
            this.$nextTick(() => {
                this.reset = true; // hello   DOM更新後にこのコードに到達する
            });
        },
        DateToStr(date) {
            let format_str = "YYYY-MM-DD";
            format_str = format_str.replace(/YYYY/g, date.getFullYear());
            if (date.getMonth() == 0) {
                format_str = format_str.replace(/MM/g, 12);
            } else {
                format_str = format_str.replace(
                    /MM/g,
                    ("00" + (date.getMonth() + 1)).slice(-2)
                );
            }

            format_str = format_str.replace(
                /DD/g,
                ("00" + date.getDate()).slice(-2)
            );

            return format_str;
        },
        editPage(item) {
            this.$router.push("/ShipmentEdit?id=" + item.id);
        },
        CreatePage() {
            this.$router.push("/ShipmentCreate");
        },
        detailPage(item) {
            this.$router.push("/ShipmentDetail?id=" + item.id);
        },
        save() {
            this.snack = true;
            this.snackColor = "success";
            this.snackText = "Data saved";
        },
        cancel() {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Canceled";
        },
        open() {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Dialog opened";
        },
        close() {
            console.log("Dialog closed");
        }
    }
};
</script>
