<template>
    <v-dialog
        :value="value"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
    >
        <v-card>
            <v-toolbar dark color="primary">
                <v-btn icon dark @click="$emit('input', false)">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>出荷の一覧</v-toolbar-title>

                <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
                <v-row class="mt-6">
                    <v-col col="6">
                        <v-dialog v-model="dialog" scrollable max-width="300px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                    color="primary"
                                    dark
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="deliveryset"
                                >
                                    食数確認表を出力
                                </v-btn>
                            </template>
                            <v-card>
                                <v-card-title
                                    >出力する配送先を選択</v-card-title
                                >
                                <v-divider></v-divider>
                                <v-card-text style="height: 300px">
                                    <v-checkbox
                                        v-for="(name,
                                        value) in delivery_destinations"
                                        v-bind:key="name"
                                        v-model="selected_delivery_destinations"
                                        :label="name"
                                        :value="value"
                                    ></v-checkbox>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-btn
                                        color="blue darken-1"
                                        text
                                        @click="dialog = false"
                                    >
                                        閉じる
                                    </v-btn>
                                    <v-btn
                                        color="blue darken-1"
                                        text
                                        @click="meal_form"
                                    >
                                        出力
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-col>
                </v-row>
                <v-row class="mt-6">
                    <v-col col="6">
                        <v-sheet :outlined="true" :elevation="0" class="pa-4">
                            <h4 class="ma-4">出荷一覧</h4>

                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left">id</th>
                                            <th class="text-left">
                                                売上計上日
                                            </th>
                                            <th class="text-left">小計</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="(item, index) in shipments"
                                            :key="index"
                                            @click="selectShipment(index)"
                                        >
                                            <td>
                                                {{ item.id }}
                                            </td>
                                            <td>
                                                {{ item.sales_date }}
                                            </td>
                                            <td>
                                                {{ item.subtotal }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-sheet></v-col
                    >
                    <v-col col="6">
                        <v-sheet :outlined="true" :elevation="0" class="pa-4">
                            <h4 class="ma-4">検索結果</h4>
                            <v-simple-table>
                                <template v-slot:default>
                                    <thead>
                                        <tr>
                                            <th class="text-left">商品名</th>
                                            <th class="text-left">単価</th>
                                            <th class="text-left">数量</th>
                                            <th class="text-left">小計</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="(item,
                                            index) in selectedShipment"
                                            :key="index"
                                        >
                                            <td>
                                                {{ item.product_name }}
                                            </td>
                                            <td>
                                                {{ item.unit_price }}
                                            </td>
                                            <td>
                                                {{ item.quantity }}
                                            </td>
                                            <td>
                                                {{
                                                    item.unit_price *
                                                        item.quantity
                                                }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </template>
                            </v-simple-table>
                        </v-sheet></v-col
                    >
                </v-row>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    name: "shipmentsModal",
    components: {},
    props: {
        value: { Boolean },
        shipments: { Array },
        end_date: String,
        start_date: String
    },
    data() {
        return {
            dialog: false,
            selectedShipment: [],
            delivery_destinations: {},
            selected_delivery_destinations: []
        };
    },
    created() {
        for (let shipment of this.shipments) {
            this.delivery_destinations[shipment.delivery_destination_id] =
                shipment.delivery_destination_name;
        }
    },
    computed: {},
    methods: {
        deliveryset() {
            for (let shipment of this.shipments) {
                this.delivery_destinations[shipment.delivery_destination_id] =
                    shipment.delivery_destination_name;
            }
        },
        meal_form() {
            this.$axios
                .post(
                    this.apiUrl + "Shipment/meal_form",
                    {
                        shipments: this.shipments.filter(el => {
                            return (
                                this.selected_delivery_destinations.indexOf(
                                    el.delivery_destination_id + ""
                                ) != -1
                            );
                        }),
                        start_date: this.start_date,
                        end_date: this.end_date
                    },
                    { responseType: "blob" }
                )
                .then(res => {
                    var title = "食数確認表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        selectShipment(index) {
            this.$axios
                .get(
                    this.apiUrl +
                        "Shipment/LineItemList/" +
                        this.shipments[index].id
                )
                .then(res => {
                    this.selectedShipment = res.data.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
        }
    }
};
</script>
