<template>
  <div class="container--small">
    <ul class="uk-tab-bottom" uk-tab>
      <li class="uk-active" @click="tab = 1"><a href="#">ログイン</a></li>
      <!--<li @click="tab = 2"><a href="#">Register</a></li>-->
    </ul>
    <div v-show="tab === 1" class="panel"><Login /></div>
  </div>
</template>

<script>
import Login from "../components/Login/Login";
export default {
  components: {
    Login,
  },
  data() {
    return {
      tab: 1,
    };
  },
  methods: {},
};
</script>
