<template>
    <v-app>
        <Header />
        <Sidebar />
        <v-main class="content mx-0 mx-md-2">
            <Breadcrumbs />
            <router-view />
            <Footer />
        </v-main>
    </v-app>
</template>

<script>
import Header from "@/components/Header/Header";
import Sidebar from "@/components/Sidebar/Sidebar";
import Footer from "@/components/Footer/Footer";
import Breadcrumbs from "@/components/Breadcrumbs/Breadcrumbs";

export default {
    name: "top",
    components: { Footer, Header, Sidebar, Breadcrumbs },
    created() {}
};
</script>

<style src="@/components/Layout/Layout.scss" lang="scss" />
