<template>
  <v-container fluid class="docs mt-4">
    <v-row>
      <v-col cols=12>
        <v-card class="mx-1 mb-1">
          <v-card-text class="pa-5">
            <p class="text-h5">Requirements:</p>
            <ul>
              <li>Mac OS X, Windows, or Linux</li>
              <li>Node.js v9 or newer</li>
              <li>Vue JS 2.6</li>
              <li>Running our <a href="https://github.com/flatlogic/user-management-template-backend">Node.js</a>
                or <a href="https://github.com/flatlogic/app-generator-java">Java</a> backend (Required only in full stack version)</li>
            </ul>
            <p class="text-h5 mt-4">Quick Start:</p>
            <ul>
              <li>yarn install</li>
              <li>yarn serve</li>
              <li>For running the app with backend support please run yarn serve:backend (Required only in full stack version)</li>
            </ul>
            <p class="text-h5 mt-4">There are also other tasks:</p>
            <ul>
              <li>yarn build : if you need just to build the app</li>
              <li>yarn lint : to check the source code for syntax errors and potential issues</li>
            </ul>
            <br>
            <p>For more instruction please refer to Vue Material Admin Full readme.md</p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
