<template>
    <div>
        <DataCreator
            getPath="employee/meta"
            SavePath="employee/post"
            title="社員を登録"
            previusPath="/employeeDetail"
        ></DataCreator>
    </div>
</template>

<script>
import DataCreator from "../../components/dataComponents/dataCreator";
export default {
    name: "departmentCreate",
    components: {
        DataCreator: DataCreator
    },
    data() {
        return {};
    }
};
</script>
