<template>
    <div>
        <detadetail
            :getPath="'employee/get/' + this.$route.query.id"
            :editPath="'/employeeEdit?id=' + this.$route.query.id"
            title="社員詳細"
        ></detadetail>
    </div>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
export default {
    name: "employeeDetail",
    components: {
        detadetail
    },
    data() {
        return {};
    },
    methods: {
        edit() {
            this.$router.push("/employeeEdit");
        }
    }
};
</script>
