<template>
    <v-app>
        <dataEditor
            savePath="employee/save"
            :getPath="'employee/get/' + this.$route.query.id"
            title="部署を編集"
        ></dataEditor>
    </v-app>
</template>

<script>
import dataEditor from "./../../components/dataComponents/dataEditor";
export default {
    name: "employeeEdit",
    components: {
        dataEditor
    },
    data() {
        return {};
    },
    created() {},
    methods: {
        dataUpdate(obj) {
            this.data[obj.name] = obj.value;
        }
    }
};
</script>
