<template>
    <v-container fluid class="px-0">
        <v-container fluid class="px-0">
            <v-expansion-panels v-model="panel">
                <v-expansion-panel :elevation="5">
                    <v-expansion-panel-header>検索</v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-col cols="4">
                            <I_text
                                v-model="searchForm.name"
                                :meta="{
                                    label: '氏名'
                                }"
                            ></I_text>
                        </v-col>
                        <v-col cols="4">
                            <I_text
                                v-model="searchForm.department_name"
                                :meta="{
                                    label: '部署名'
                                }"
                            ></I_text>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            @click="search"
                            dark
                            class="mr-1"
                        >
                            検索
                        </v-btn>
                        <v-btn color="primary" @click="init" dark class="">
                            リセット
                        </v-btn>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-container>
        <dataList
            editPath="/employeeEdit"
            detailPath="/employeeDetail"
            createPath="/employeeCreate"
            getPath="employee/list"
            deletePath="employee/delete"
            @delete="init"
            title="社員一覧"
            :data="data"
            discription=""
            :headers="headers"
        ></dataList>
    </v-container>
</template>

<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "ProductList",
    components: {
        dataList: dataList
    },
    created() {
        this.init();
    },
    data() {
        return {
            panel: false,
            searchForm: {
                name: "",
                department_name: ""
            },
            data: [],
            selected: [],
            headers: [
                {
                    text: "ID",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                {
                    text: "コード",
                    align: "start",
                    sortable: false,
                    value: "code"
                },
                { text: "姓", value: "last_name" },
                { text: "名", value: "first_name" },
                { text: "セイ", value: "last_name_kana" },
                { text: "メイ", value: "first_name_kana" },
                { text: "部署名", value: "department_name" },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "delete",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    methods: {
        search() {
            this.$axios
                .get(this.apiUrl + "employee/search", {
                    params: this.searchForm
                })
                .then(res => {
                    console.log(res);
                    this.data = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        init() {
            this.$axios
                .get(this.apiUrl + "employee/list")
                .then(res => {
                    this.data = res.data.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
            this.searchForm = {
                name: "",
                department_name: ""
            };
        },
        editPage() {
            this.$router.push("/productEdit");
        },
        detailPage() {
            this.$router.push("/productDetail");
        },
        save() {
            this.snack = true;
            this.snackColor = "success";
            this.snackText = "Data saved";
        },
        cancel() {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Canceled";
        },
        open() {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Dialog opened";
        },
        close() {
            console.log("Dialog closed");
        }
    }
};
</script>
