<template>
  <v-container fluid class="px-0">
    <v-container fluid class="px-0">
      <v-expansion-panels v-model="panel">
        <v-expansion-panel :elevation="5">
          <v-expansion-panel-header>検索</v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-row>
              <v-col cols="3" class="float-left">
                <v-menu
                  class="float-left"
                  ref="smenu"
                  v-model="smenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="searchForm.start_date"
                      label="請求月~"
                      @change="
                        set_date();
                        selectiveMonthSetting();
                      "
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="searchForm.start_date"
                    type="month"
                    no-title
                    scrollable
                    locale="jp-ja"
                    @input="
                      smenu = false;
                      set_date();
                    "
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="3" class="float-left">
                <v-menu
                  class="float-left"
                  ref="emenu"
                  v-model="emenu"
                  :close-on-content-click="false"
                  transition="scale-transition"
                  offset-y
                  max-width="290px"
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="searchForm.end_date"
                      label="~請求月"
                      @change="selectiveMonthSetting()"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="searchForm.end_date"
                    type="month"
                    no-title
                    scrollable
                    locale="jp-ja"
                    @input="emenu = false"
                  >
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3"
                ><I_text
                  v-model="searchForm.account_name"
                  :meta="{
                    label: '得意先名',
                  }"
                ></I_text
              ></v-col>
              <v-col cols="3"
                ><I_text
                  v-model="searchForm.account_id"
                  :meta="{
                    label: '得意先ID',
                  }"
                ></I_text
              ></v-col>
            </v-row>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              :disabled="!searchEnabled"
              @click="
                searchForm.page = 1;
                search();
              "
              :bottom="true"
              dark
              class="mr-1"
            >
              検索
            </v-btn>
            <v-btn color="primary" @click="crear" dark class=""> リセット </v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-container>
    <v-container fluid class="px-0" v-if="data && data.length != 0">
      <div class="tables-dynamic">
        <v-row>
          <v-col cols="12">
            <v-card class="mb-1">
              <v-card-title class="pa-5 pb-3"> 検索結果 </v-card-title>
              <v-card-text
                ><template>
                  <v-simple-table class="i_table">
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th width="60" class="text-left">ID</th>
                          <th width="120" class="text-left">得意先名</th>
                          <th width="100" class="text-left">締め日</th>
                          <th width="45" class="text-left">繰越</th>
                          <th width="100"></th>
                          <th
                            width="130"
                            class="text-left"
                            v-for="h in header"
                            :key="h.index"
                          >
                            {{ formatMonth(h) }}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="d in data" :key="d.index">
                          <td>{{ d.account_id }}</td>
                          <td>
                            {{ d.account_name }}
                          </td>
                          <td>
                            {{ d.deadline }}
                          </td>
                          <td>0</td>
                          <td class="amount_data" align="center" valign="top">
                            <div class="d_td">
                              <span> 請求金額 </span>
                            </div>

                            <v-divider></v-divider>
                            <div style="height: 30px; vertical-align: middle">
                              <span> 入金金額 </span>
                            </div>
                          </td>
                          <td
                            v-for="i in d.invoices"
                            class="amount_data"
                            align="right"
                            valign="top"
                            :key="d.account_id + ':' + i.invoice_month"
                          >
                            <div
                              class="d_td"
                              :style="i.amount > i.payment_total ? 'color:red;' : ''"
                            >
                              <span>
                                {{ "¥" + i.amount.toLocaleString() }}
                              </span>
                            </div>

                            <v-divider></v-divider>
                            <v-spacer></v-spacer>
                            <template v-for="p in i.payments">
                              <div
                                :key="
                                  d.account_id + ':' + i.invoice_month + ':' + p.index
                                "
                              >
                                <span>
                                  {{ formatDate(p.payment_date) }}
                                  <br />
                                  {{ getTypeText(p.type) }}
                                  <br />
                                  {{ "¥" + p.amount.toLocaleString() }}
                                </span>
                              </div>
                            </template>
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </template></v-card-text
              >
              <v-card-actions>
                <div class="text-center">
                  <v-container>
                    <v-row justify="center">
                      <v-col cols="8">
                        <v-container class="max-width">
                          <v-pagination
                            v-model="searchForm.page"
                            @input="search"
                            class="my-4"
                            :length="length"
                          ></v-pagination>
                        </v-container>
                      </v-col>
                    </v-row>
                  </v-container>
                </div>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </v-container>
</template>

<script>
import { mapActions } from "vuex";
import moment from "moment";
export default {
  name: "AnnualBillingAmountList",
  components: {},
  created() {},
  data() {
    return {
      panel: 0,
      smenu: false,
      emenu: false,
      searchForm: {
        start_date: null,
        end_date: null,
        account_name: null,
        account_id: null,
        page: 1,
        page_size: 30,
      },
      length: null,
      header: [],
      data: [],
    };
  },
  computed: {
    searchEnabled() {
      return (
        this.searchForm.start_date != null &&
        this.searchForm.start_date != "" &&
        this.searchForm.end_date != null &&
        this.searchForm.end_date != ""
      );
    },
  },
  methods: {
    formatDate(h) {
      return moment(h).format("YYYY年M月D日");
    },
    formatMonth(h) {
      return moment(h).format("YYYY年M月");
    },
    ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"]),
    set_date() {
      if (this.searchForm.start_date != null) {
        moment.defaultFormat = "YYYY-MM";
        let m = moment(this.searchForm.start_date);
        this.searchForm.end_date = m.add("months", 11).format();
      }
    },
    getTypeText(str) {
      return str.split("　")[str.split("　").length - 1];
    },
    search() {
      this.data = [];
      this.header = [];
      this.closeSnackbar();
      let m = moment(this.searchForm.start_date);
      let m2 = moment(this.searchForm.end_date);
      if (m2.diff(m, "months") > 11) {
        this.openSnackbar("12カ月以下に設定してください");
        return;
      }
      if (m2.diff(m, "months") < 0) {
        this.openSnackbar("1カ月以上に設定してください");
        return;
      }
      let vm = this;
      this.openSnackbar("検索中...");
      this.$axios
        .get(this.apiUrl + "invoice/annual", {
          params: this.searchForm,
        })
        .then((response) => {
          vm.panel = null;
          vm.closeSnackbar();
          vm.data = response.data.data;
          vm.header = response.data.dateList;
          vm.length = response.data.pagesize;
          console.log(vm.header);
          if (vm.data.length == 0) {
            this.openSnackbar("対象データが0件です");
            vm.panel = 0;
          } else {
            this.openSnackbar("検索完了しました");
          }
        })
        .catch((err) => {
          this.closeSnackbar();
          this.openSnackbar(err);
        });
    },
    crear() {
      this.searchForm.start_date = null;
      this.searchForm.end_date = null;
      this.searchForm.account_name = null;
      this.searchForm.account_id = null;
    },
    selectiveMonthSetting() {},
  },
};
</script>
<style lang="scss">
.i_table table {
  border-collapse: collapse;
  table-layout: fixed;
}
td,
th {
  font-size: 10px !important;

  .d_td {
    height: 30px;
    vertical-align: middle;
    padding: 4px;
    span {
      vertical-align: middle;
    }
  }
}
</style>
