<template>
    <v-app>
        <v-container fluid class="px-0 px-md-1">
            <div class="tables-dynamic mt-3">
                <v-row>
                    <v-col cols="12">
                        <v-card class="mb-1 px-6 py-6">
                            <v-card-title class="pa-5 pb-3">
                                <p>請求作成</p>
                                <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-text>
                                <v-row>
                                    <v-col cols="3" class="float-left">
                                        <v-menu
                                            class="float-left"
                                            ref="menu"
                                            v-model="menu"
                                            :close-on-content-click="false"
                                            transition="scale-transition"
                                            offset-y
                                            max-width="290px"
                                            min-width="auto"
                                        >
                                            <template
                                                v-slot:activator="{ on, attrs }"
                                            >
                                                <v-text-field
                                                    v-model="
                                                        searchForm.sales_month
                                                    "
                                                    label="売上計上月"
                                                    @change="set_date()"
                                                    prepend-icon="mdi-calendar"
                                                    readonly
                                                    v-bind="attrs"
                                                    v-on="on"
                                                ></v-text-field>
                                            </template>
                                            <v-date-picker
                                                v-model="searchForm.sales_month"
                                                type="month"
                                                no-title
                                                scrollable
                                                locale="jp-ja"
                                                @input="
                                                    menu = false;
                                                    set_date();
                                                "
                                            >
                                            </v-date-picker>
                                        </v-menu>
                                    </v-col>
                                    <v-col cols="3">
                                        <v-select
                                            v-model="searchForm.deadline"
                                            class="float-left"
                                            :items="[
                                                '5',
                                                '10',
                                                '15',
                                                '20',
                                                '25',
                                                '末日'
                                            ]"
                                            label="得意先締め日"
                                            @input="set_date"
                                        ></v-select>
                                    </v-col>
                                    <v-col cols="3">
                                        <I_date
                                            :max="end_sales_date_zone"
                                            :min="start_sales_date_zone"
                                            v-model="
                                                searchForm.start_sales_date
                                            "
                                            :meta="{
                                                label: '売上計上日~'
                                            }"
                                        ></I_date>
                                    </v-col>
                                    <v-col cols="3">
                                        <I_date
                                            :max="end_sales_date_zone"
                                            :min="start_sales_date_zone"
                                            v-model="searchForm.end_sales_date"
                                            :meta="{
                                                label: '~売上計上日'
                                            }"
                                        ></I_date>
                                    </v-col>
                                    <v-col cols="4">
                                        <I_lockup
                                            v-model="searchForm.staff_id"
                                            :meta="{
                                                label: '得意先担当者',
                                                hint: undefined,
                                                searchPath: 'employee/search',
                                                itemText: 'id',
                                                itemValue: 'id'
                                            }"
                                            code="id"
                                        ></I_lockup>
                                    </v-col>
                                    <v-col cols="4">
                                        <I_text
                                            v-model="searchForm.account_id"
                                            :meta="{
                                                label: '得意先ID'
                                            }"
                                            code="id"
                                        ></I_text>
                                    </v-col>
                                    <v-col cols="4">
                                        <I_text
                                            v-model="searchForm.account_name"
                                            :meta="{
                                                label: '得意先名'
                                            }"
                                            code="id"
                                        ></I_text>
                                    </v-col>
                                    <v-spacer></v-spacer>
                                    <v-spacer></v-spacer>
                                    <v-col cols="4">
                                        <I_text
                                            v-model="
                                                searchForm.delivery_destination_id
                                            "
                                            :meta="{
                                                label: '納入先ID'
                                            }"
                                            code="id"
                                        ></I_text>
                                    </v-col>
                                    <v-spacer></v-spacer>

                                    <v-col cols="12">
                                        <v-btn
                                            color="primary"
                                            :disabled="!searchEnabled"
                                            @click="search"
                                            :bottom="true"
                                        >
                                            検索
                                        </v-btn>
                                    </v-col>
                                    <v-divider class="mt-6"></v-divider>
                                    <v-col cols="12">
                                        <v-sheet
                                            :outlined="true"
                                            :elevation="0"
                                            class="pa-4"
                                        >
                                            <h4 class="ma-4">検索結果</h4>
                                            <v-btn
                                                color="primary"
                                                :disabled="
                                                    !createInvoiceEnabled
                                                "
                                                @click="createInvoice"
                                                :bottom="true"
                                            >
                                                選択した請求を作成する
                                            </v-btn>
                                            <v-simple-table class="mt-6">
                                                <template v-slot:default>
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                <v-checkbox
                                                                    v-model="
                                                                        AllSelect
                                                                    "
                                                                    @change="
                                                                        AllSelectChange
                                                                    "
                                                                ></v-checkbox>
                                                            </th>
                                                            <th
                                                                class="text-left"
                                                            >
                                                                コード
                                                            </th>
                                                            <th
                                                                class="text-left"
                                                            >
                                                                得意先名
                                                            </th>
                                                            <th
                                                                class="text-left"
                                                            >
                                                                出荷数
                                                            </th>
                                                            <th
                                                                class="text-left"
                                                            >
                                                                小計
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            v-for="(item,
                                                            index) in invoiceList"
                                                            :key="index"
                                                        >
                                                            <td>
                                                                <v-checkbox
                                                                    input-value="true"
                                                                    v-model="
                                                                        item.selected
                                                                    "
                                                                ></v-checkbox>
                                                            </td>
                                                            <td>
                                                                {{ item.id }}
                                                            </td>
                                                            <td>
                                                                {{ item.name }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                    item.length
                                                                }}
                                                            </td>
                                                            <td>
                                                                {{
                                                                    item.subtotal
                                                                }}
                                                            </td>
                                                            <td
                                                                class="text-right"
                                                            >
                                                                <v-btn
                                                                    color="primary"
                                                                    @click="
                                                                        openMealDialog(
                                                                            index
                                                                        )
                                                                    "
                                                                >
                                                                    食数確認表</v-btn
                                                                >
                                                            </td>
                                                            <td
                                                                class="text-right"
                                                            >
                                                                <v-btn
                                                                    color="primary"
                                                                    @click="
                                                                        open(
                                                                            index
                                                                        )
                                                                    "
                                                                >
                                                                    出荷一覧</v-btn
                                                                >
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </template>
                                            </v-simple-table>
                                        </v-sheet>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-container>
        <shipmentsModal
            v-model="dialog"
            :start_date="searchForm.start_sales_date"
            :end_date="searchForm.end_sales_date"
            :shipments="selectShipments"
        />
        <v-dialog v-model="dialog2" scrollable max-width="300px">
            <v-card>
                <v-card-title>出力する配送先を選択</v-card-title>
                <v-divider></v-divider>
                <v-card-text style="height: 300px">
                    <v-checkbox
                        v-for="(name, value) in mealDD"
                        v-bind:key="name"
                        v-model="selected_delivery_destinations"
                        :label="name"
                        :value="value"
                    ></v-checkbox>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-btn color="blue darken-1" text @click="dialog2 = false">
                        閉じる
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="meal_form">
                        出力
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</template>
<script>
import shipmentsModal from "./../../components/Invoice/shipmentsModal.vue";
export default {
    name: "Invoice",
    components: {
        shipmentsModal: shipmentsModal
    },
    data() {
        return {
            selected_delivery_destinations: [],
            mealShipments: [],
            mealDD: [],
            dialog2: false,
            dialog: false,
            row: "radio-1",
            date: new Date().toISOString().substr(0, 7),
            menu: false,
            meta: null,
            AllSelect: false,
            end_sales_date_zone: null,
            start_sales_date_zone: null,

            searchForm: {
                deadline: "5",
                sales_month: null,
                start_sales_date: null,
                end_sales_date: null,
                staff_id: null,
                account_name: null,
                account_id: null
            },
            invoiceList: [],
            selectShipments: []
        };
    },
    created() {},
    computed: {
        searchEnabled() {
            return (
                this.searchForm.sales_month != null &&
                this.searchForm.sales_month != "" &&
                this.searchForm.start_sales_date != null &&
                this.searchForm.start_sales_date != "" &&
                this.searchForm.end_sales_date != null &&
                this.searchForm.end_sales_date != ""
            );
        },
        createInvoiceEnabled() {
            console.log(this.invoiceList);
            return this.invoiceList.filter(el => el.selected).length > 0;
        }
    },
    watch: {},
    methods: {
        meal_form() {
            this.$axios
                .post(
                    this.apiUrl + "Shipment/meal_form",
                    {
                        shipments: this.mealShipments.filter(el => {
                            return (
                                this.selected_delivery_destinations.indexOf(
                                    el.delivery_destination_id + ""
                                ) != -1
                            );
                        }),
                        start_date: this.searchForm.start_sales_date,
                        end_date: this.searchForm.end_sales_date
                    },
                    { responseType: "blob" }
                )
                .then(res => {
                    var title = "食数確認表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        openMealDialog(index) {
            this.mealShipments = this.invoiceList[index].shipments;
            this.mealDD = {};
            this.dialog2 = true;
            for (let shipment of this.mealShipments) {
                if (shipment.delivery_destination_id) {
                    this.mealDD[shipment.delivery_destination_id] =
                        shipment.delivery_destination_name;
                }
            }
        },
        colseMealDialog() {
            this.dialog2 = false;
            this.mealDD = {};
            this.mealShipments = [];
        },
        GetDeadLineDate(date, d) {
            var resultDate = new Date(date.getTime());
            let return_date = new Date(
                resultDate.getFullYear(),
                resultDate.getMonth() + 1,
                d
            );
            return return_date;
        },
        DateToStr(date) {
            let format_str = "YYYY-MM-DD";
            format_str = format_str.replace(/YYYY/g, date.getFullYear());
            if (date.getMonth() == 0) {
                format_str = format_str.replace(/MM/g, 1);
            } else {
                format_str = format_str.replace(
                    /MM/g,
                    ("00" + (date.getMonth() + 1)).slice(-2)
                );
            }

            format_str = format_str.replace(
                /DD/g,
                ("00" + date.getDate()).slice(-2)
            );

            return format_str;
        },
        set_date() {
            let clac_date;
            if (this.searchForm.deadline == "末日") {
                clac_date = new Date(
                    this.searchForm.sales_month.split("-")[0],
                    parseInt(this.searchForm.sales_month.split("-")[1]) - 1,
                    1
                );
            } else {
                clac_date = new Date(
                    this.searchForm.sales_month.split("-")[0],
                    parseInt(this.searchForm.sales_month.split("-")[1]) - 2,
                    parseInt(this.searchForm.deadline) + 1
                );
            }
            this.searchForm.start_sales_date = this.DateToStr(clac_date);
            this.searchForm.end_sales_date = this.DateToStr(
                this.GetDeadLineDate(clac_date, clac_date.getDate() - 1)
            );
            this.end_sales_date_zone = this.searchForm.end_sales_date;
            this.start_sales_date_zone = this.searchForm.start_sales_date;
        },
        AllSelectChange() {
            for (let a of this.invoiceList) {
                a.selected = this.AllSelect;
            }
        },
        open(index) {
            this.selectShipments = this.invoiceList[index].shipments;
            this.dialog = true;
        },
        search() {
            this.$axios
                .get(this.apiUrl + "Shipment/account/list", {
                    params: this.searchForm
                })
                .then(res => {
                    console.log(res);
                    let vm = this;
                    if (res.data.length == 0) {
                        vm.openSnackbar("検索結果が0件です");
                    }
                    this.invoiceList = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        createInvoice() {
            let vm = this;
            console.log(this.invoiceList.filter(el => el.selected));
            this.$axios
                .post(this.apiUrl + "invoice/create", {
                    shipments: this.invoiceList.filter(el => el.selected),
                    start_date: this.searchForm.start_sales_date,
                    end_date: this.searchForm.end_sales_date
                })
                .then(() => {
                    vm.openSnackbar("請求を作成しました");
                    vm.$router.push("invoiceList");
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        }
    }
};
</script>
