<template>
    <v-app>
        <dataEditor
            savePath="invoice/save"
            :getPath="'invoice/get/' + this.$route.query.id"
            title="得意先を編集"
        ></dataEditor>
    </v-app>
</template>

<script>
import dataEditor from "./../../components/dataComponents/dataEditor";
export default {
    name: "invoiceEdit",
    components: {
        dataEditor
    },
    data() {
        return {};
    },
    created() {
        let vm = this;
        this.$axios
            .get(this.apiUrl + "invoice/get/" + this.$route.query.id)
            .then(res => {
                if (res.data.data.deposited == 1) {
                    vm.openSnackbar("入金確認済の請求は編集できません");
                    vm.$router.go(-1);
                }
            })
            .catch(err => {
                this.openSnackbar(err);
                console.log(err);
            });
    },
    methods: {
        dataUpdate(obj) {
            this.data[obj.name] = obj.value;
        }
    }
};
</script>
