<template>
    <v-app>
        <v-container fluid class="px-0">
            <v-container fluid class="px-0">
                <v-expansion-panels v-model="panel">
                    <v-expansion-panel :elevation="5">
                        <v-expansion-panel-header
                            >検索</v-expansion-panel-header
                        >
                        <v-expansion-panel-content>
                            <v-row>
                                <v-col cols="4">
                                    <p>入金状態</p>
                                    <v-radio-group
                                        v-model="searchForm.isPaymented"
                                        class="float-left"
                                        row
                                    >
                                        <v-radio
                                            label="指定なし"
                                            :value="0"
                                        ></v-radio>
                                        <v-radio
                                            label="未入金の一覧"
                                            :value="1"
                                        ></v-radio>
                                        <v-radio
                                            label="入金済みの一覧"
                                            :value="2"
                                        ></v-radio>
                                    </v-radio-group>
                                </v-col>
                                <v-col cols="4"
                                    ><I_date
                                        v-model="searchForm.start_billing_date"
                                        :meta="{
                                            label: '請求日~'
                                        }"
                                    ></I_date
                                ></v-col>
                                <v-col cols="4"
                                    ><I_date
                                        v-model="searchForm.end_billing_date"
                                        :meta="{
                                            label: '~請求日'
                                        }"
                                    ></I_date
                                ></v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="2">
                                    <I_text
                                        v-model="searchForm.amount_min"
                                        :meta="{
                                            label: '入金金額~'
                                        }"
                                    ></I_text>
                                </v-col>
                                <v-col cols="2">
                                    <I_text
                                        v-model="searchForm.amount_max"
                                        :meta="{
                                            label: '~入金金額'
                                        }"
                                    ></I_text>
                                </v-col>

                                <v-col cols="4"
                                    ><I_date
                                        v-model="searchForm.start_payment_date"
                                        :meta="{
                                            label: '入金予定日~'
                                        }"
                                    ></I_date
                                ></v-col>
                                <v-col cols="4"
                                    ><I_date
                                        v-model="searchForm.end_payment_date"
                                        :meta="{
                                            label: '~入金予定日'
                                        }"
                                    ></I_date
                                ></v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="4"> </v-col>
                                <v-col cols="4"
                                    ><I_text
                                        v-model="searchForm.account_name"
                                        :meta="{
                                            label: '得意先名'
                                        }"
                                    ></I_text
                                ></v-col>
                                <v-col cols="4"
                                    ><I_text
                                        v-model="searchForm.account_id"
                                        :meta="{
                                            label: '得意先ID'
                                        }"
                                    ></I_text
                                ></v-col>
                            </v-row>

                            <v-spacer></v-spacer>
                            <v-btn
                                color="primary"
                                @click="search"
                                dark
                                class="mr-1"
                            >
                                検索
                            </v-btn>
                            <v-btn color="primary" @click="crear" dark class="">
                                リセット
                            </v-btn>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
            </v-container>
            <dataList
                editPath="/invoiceEdit"
                detailPath="/invoiceDetail"
                title="請求一覧"
                :data="data"
                discription=""
                :headers="headers"
                v-model="selected"
                :showSelect="true"
                sortBy="id"
                ><template slot="buttons">
                    <v-btn
                        depressed
                        color="primary"
                        @click="BulkOutputReceptForm"
                        :disabled="selected.length == 0"
                        class="mr-2"
                        >領収書一括発行</v-btn
                    >
                    <v-btn
                        depressed
                        color="primary"
                        class="mr-2"
                        :disabled="selected.length == 0"
                        @click="BulkOutputInvoiceForm"
                        >請求書一括発行</v-btn
                    >
                    <v-btn depressed color="primary" @click="ListForm"
                        >請求一覧表を出力</v-btn
                    ></template
                ></dataList
            >
        </v-container></v-app
    >
</template>
<script>
import dataList from "./../../components/dataComponents/dataList";
export default {
    name: "Invoice",
    components: {
        dataList: dataList
    },
    data() {
        return {
            selected: [],
            panel: 0,
            searchForm: {
                isPaymented: 0,
                start_billing_date: "",
                end_billing_date: "",
                start_payment_date: "",
                end_payment_date: "",
                account_name: "",
                account_id: "",
                amount_min: "",
                amount_max: ""
            },
            data: [],
            meta: null,
            headers: [
                {
                    text: "id",
                    align: "start",
                    sortable: true,
                    value: "id"
                },
                {
                    text: "得意先名",
                    align: "start",
                    sortable: false,
                    value: "account_name"
                },
                { text: "請求日", value: "billing_date" },
                { text: "入金予定日", value: "payment_date" },
                { text: "入金確認済", value: "deposited" },
                { text: "小計", value: "subtotal" },
                { text: "消費税", value: "tax" },
                { text: "合計", value: "total" },
                { text: "入金済金額", value: "deposited_amount" },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                }
            ],
            menu: ["Edit", "Copy", "Delete", "Print"]
        };
    },
    created() {
        this.init();
    },
    methods: {
        ListForm() {
            this.$axios
                .post(this.apiUrl + "invoice/listForm", this.searchForm, {
                    responseType: "blob"
                })
                .then(res => {
                    console.log(res);
                    var title = "入金一覧表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                    //ダウンロードする場合
                    /*
                    var fileURL = URL.createObjectURL(blob);
                    var fileLink = document.createElement("a");
                    fileLink.href = fileURL;
                    fileLink.download = title;
                    fileLink.click();*/
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        BulkOutputInvoiceForm() {
            this.$axios
                .post(
                    this.apiUrl + "invoice/bulkOutputInvoiceForm",
                    this.selected,
                    {
                        responseType: "blob"
                    }
                )
                .then(res => {
                    console.log(res);
                    var title = "入金一覧表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                    //ダウンロードする場合
                    /*
                    var fileURL = URL.createObjectURL(blob);
                    var fileLink = document.createElement("a");
                    fileLink.href = fileURL;
                    fileLink.download = title;
                    fileLink.click();*/
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        BulkOutputReceptForm() {
            this.$axios
                .post(
                    this.apiUrl + "invoice/bulkOutputReceptForm",
                    this.selected,
                    {
                        responseType: "blob"
                    }
                )
                .then(res => {
                    console.log(res);
                    var title = "入金一覧表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                    //ダウンロードする場合
                    /*
                    var fileURL = URL.createObjectURL(blob);
                    var fileLink = document.createElement("a");
                    fileLink.href = fileURL;
                    fileLink.download = title;
                    fileLink.click();*/
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        search() {
            if (window.location.search) {
                this.$router.push({
                    name: this.$route.name,
                    query: {}
                });
            }
            this.$router
                .push({
                    name: this.$route.name,
                    query: this.searchForm
                })
                .catch();
            this.$axios
                .get(this.apiUrl + "invoice/search", {
                    params: this.searchForm
                })
                .then(res => {
                    console.log(res);
                    this.data = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        crear() {
            this.searchForm = {
                isPaymented: 0,
                start_billing_date: "",
                end_billing_date: "",
                start_payment_date: "",
                end_payment_date: "",
                account_name: "",
                account_id: "",
                amount_min: "",
                amount_max: ""
            };
        },
        init() {
            this.searchForm = {
                isPaymented: 0,
                start_billing_date: "",
                end_billing_date: "",
                start_payment_date: "",
                end_payment_date: "",
                account_name: "",
                account_id: "",
                amount_min: "",
                amount_max: ""
            };
            if (window.location.search) {
                var queries = location.search
                    ? location.search.substr(1).split("&")
                    : [];
                this.searchForm = queries.reduce(function(acc, q) {
                    var key = q.split("=")[0];
                    var value = q.split("=")[1];
                    acc[key] = decodeURIComponent(value);
                    return acc;
                }, {});
                this.search();
            }
        }
    }
};
</script>
