<template>
    <v-app>
        <v-card background-color="transparent" class="mt-6">
            <v-tabs v-model="tab" align-with-title>
                <v-tab> 請求情報 </v-tab>
                <v-tab> 発行済請求書 </v-tab>
                <v-tab> 入金一覧 </v-tab>
                <v-tab> 出荷一覧 </v-tab>
            </v-tabs>
        </v-card>
        <v-tabs-items v-model="tab" style="background-color: transparent">
            <v-tab-item>
                <detadetail
                    :getPath="'invoice/get/' + this.$route.query.id"
                    :editPath="
                        editable
                            ? '/invoiceEdit?id=' + this.$route.query.id
                            : ''
                    "
                    title="請求情報"
                    ref="detail"
                >
                    <template slot="buttons">
                        <v-btn
                            v-if="editable"
                            color="error"
                            class="mb-2 mr-2"
                            @click="deleteOpen"
                            >削除</v-btn
                        >
                        <v-btn
                            color="primary"
                            class="mb-2 mr-2"
                            @click="meal_form"
                            >食数確認</v-btn
                        >
                        <v-btn
                            color="primary"
                            class="mb-2 mr-2"
                            @click="receipt"
                            >領収書</v-btn
                        >
                    </template></detadetail
                >
            </v-tab-item>
            <v-tab-item>
                <detalist
                    :data="invoiceForms"
                    title="請求書一覧"
                    discription=""
                    :headers="invoiceFormsHeaders"
                    linkAttribute="pdf_link"
                    linkText="PDFを開く"
                >
                    <template slot="buttons">
                        <v-btn color="primary" @click="CreateInvoicForm"
                            >請求書発行</v-btn
                        >
                    </template>
                </detalist>
            </v-tab-item>
            <v-tab-item
                ><detalist
                    editPath="/paymentEdit"
                    detailPath="/paymentDetail"
                    :deletePath="editable ? 'invoice/payment/delete' : ''"
                    @delete="init"
                    createPath=""
                    :data="payments"
                    title="入金一覧"
                    discription=""
                    :headers="paymentHeaders"
                >
                    <template slot="buttons"
                        ><dialogDataCreator
                            v-if="editable"
                            text="新規作成"
                            @save="
                                init();
                                $forceUpdate();
                            "
                            getPath="invoice/payment/meta"
                            SavePath="invoice/payment/post"
                            :defaultValue="{ invoice_id: this.$route.query.id }"
                            title="入金を入力"
                        ></dialogDataCreator></template></detalist
            ></v-tab-item>
            <v-tab-item>
                <detalist
                    detailPath="/ShipmentDetail"
                    createPath=""
                    :data="shipments"
                    title="出荷"
                    discription=""
                    :headers="shipmentHeaders"
                >
                    <!--
                    <template slot="buttons"
                        ><dialogDataCreator
                            text="新規作成"
                            @save="init()"
                            getPath="CustomerUnitPrice/meta"
                            SavePath="CustomerUnitPrice/post"
                            :defaultValue="{ account_id: this.$route.query.id }"
                            title="新規商品単価"
                        ></dialogDataCreator></template
                >-->
                </detalist>
            </v-tab-item>
            <v-tab-item>請求履歴</v-tab-item>
        </v-tabs-items>
        <v-dialog v-model="deleteDialog" persistent max-width="290">
            <v-card>
                <v-card-title class="text-h5">
                    確認
                </v-card-title>
                <v-card-text> 本当に削除しますか</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="green darken-1"
                        text
                        @click="deleteDialog = false"
                    >
                        キャンセル
                    </v-btn>
                    <v-btn color="green darken-1" text @click="deleteItem()">
                        削除する
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</template>

<script>
import detadetail from "./../../components/dataComponents/dataDetail";
import dialogDataCreator from "./../../components/dataComponents/dialogDataCreator";
import detaList from "./../../components/dataComponents/dataList";
export default {
    name: "invoiceDetail",
    components: {
        detadetail: detadetail,
        detalist: detaList,
        dialogDataCreator: dialogDataCreator
    },
    created() {
        this.init();
        this.$route.query.id2 = "aaa";
    },
    data() {
        return {
            deleteDialog: false,
            editable: true,
            tab: null,
            invoiceForms: [],
            payments: [],
            shipments: [],
            data: {},
            meta: null,
            paymentHeaders: [
                {
                    text: "入金日",
                    align: "start",
                    sortable: false,
                    value: "payment_date"
                },
                { text: "入金額", value: "deposit_amount" },
                { text: "入金区分", value: "payments_class" },
                { text: "集金担当者", value: "staff_name" },
                { text: "備考", value: "remarks" },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "edit",
                    sortable: false,
                    width: "20px"
                },
                {
                    text: "",
                    value: "delete",
                    sortable: false,
                    width: "20px"
                }
            ],
            invoiceFormsHeaders: [
                { text: "作成日", value: "created_at" },
                {
                    text: "",
                    value: "link",
                    sortable: false,
                    width: "20px"
                }
            ],
            shipmentHeaders: [
                {
                    text: "id",
                    align: "start",
                    sortable: false,
                    value: "id"
                },
                { text: "売上計上日", value: "sales_date" },
                { text: "担当者", value: "sales_employee_name" },
                { text: "小計", value: "subtotal" },
                { text: "消費税", value: "tax" },
                { text: "合計", value: "total" },
                {
                    text: "",
                    value: "detail",
                    sortable: false,
                    width: "20px"
                }
            ]
        };
    },
    methods: {
        deleteItem() {
            let vm = this;
            this.data.id;
            this.$axios
                .delete(this.apiUrl + "invoice/delete/" + this.$route.query.id)
                .then(() => {
                    vm.openSnackbar("削除しました");
                    vm.deleteDialog = false;
                    vm.$emit("delete");
                    vm.$router.push("invoiceList");
                })
                .catch(err => {
                    vm.deleteDialog = false;
                    vm.openSnackbar(err);
                    console.log(err);
                });
        },
        deleteOpen() {
            this.deleteDialog = true;
        },
        meal_form() {
            this.$axios
                .get(
                    this.apiUrl + "invoice/meal_form/" + this.$route.query.id,
                    { responseType: "blob" }
                )
                .then(res => {
                    var title = "食数確認表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    //表示する場合test
                    //window.location = URL.createObjectURL(blob);
                    window.open(URL.createObjectURL(blob));
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        receipt() {
            this.$axios
                .post(
                    this.apiUrl + "invoice/receiptForm",
                    {
                        id: this.$route.query.id
                    },
                    { responseType: "blob" }
                )
                .then(res => {
                    var title = "食数確認表.pdf";
                    var blob = new Blob([res.data], {
                        type: "application/pdf"
                    });
                    blob.name = title;
                    window.open(URL.createObjectURL(blob));
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        editcheck() {
            this.$axios
                .get(this.apiUrl + "invoice/get/" + this.$route.query.id)
                .then(res => {
                    if (res.data.data.deposited == 1) {
                        this.editable = false;
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        },
        CreateInvoicForm() {
            this.$axios
                .post(this.apiUrl + "invoice/createInvoiceForm", {
                    id: this.$route.query.id
                })
                .then(() => {
                    //this.invoiceForms = res.data;
                    this.openSnackbar("請求書を発行しました");
                    this.init();
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
        },
        edit() {
            this.$router.push("/accountEdit?id=" + this.data.id);
        },
        init() {
            //入金一覧
            this.$axios
                .get(
                    this.apiUrl +
                        "invoice/invoiceFormList/" +
                        this.$route.query.id
                )
                .then(res => {
                    this.invoiceForms = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            this.$axios
                .get(
                    this.apiUrl + "invoice/paymentList/" + this.$route.query.id
                )
                .then(res => {
                    this.payments = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            this.$axios
                .get(
                    this.apiUrl + "invoice/shipmentList/" + this.$route.query.id
                )
                .then(res => {
                    this.shipments = res.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                    //dispatch('loginError', err.response.data);
                });
            //取得しなおす
            this.editcheck();
            if (this.$refs.detail != undefined) {
                this.$refs.detail.init();
            }
        }
    }
};
</script>
