<template>
    <v-app>
        <v-container fluid class="px-0 px-md-1">
            <div class="tables-dynamic mt-3">
                <v-row>
                    <v-col cols="12">
                        <v-card class="mb-1 px-6 py-6">
                            <v-card-title class="pa-5 pb-3">
                                <p>入金消込</p>
                                <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-text></v-card-text></v-card></v-col
                ></v-row></div></v-container
    ></v-app>
</template>

<script>
export default {
    name: "Invoice",
    components: {},
    data() {
        return {
            data: {},
            meta: null
        };
    },
    created() {},
    methods: {}
};
</script>
