<template>
    <v-checkbox
        :input-value="value"
        :hint="meta.hint"
        @change="$emit('input', $event)"
        :disabled="meta.disabled"
        :label="meta.label"
    ></v-checkbox>
</template>
<script>
export default {
    name: "CheckInput",
    props: {
        meta: { type: Object },
        value: { Number },
        errorMessages: { String, Array },
        success: { type: Boolean }
    }
};
</script>
<style></style>
