<template>
    <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="auto"
    >
        <template v-slot:activator="{ on, attrs }">
            <v-text-field
                :value="value"
                :label="meta.label"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                :disabled="meta.disabled"
                :success="success"
                :error-messages="errorMessages"
            ></v-text-field>
        </template>
        <v-date-picker
            locale="jp-ja"
            :value="value"
            @change="emit"
            :min="min"
            :max="max"
            no-title
            scrollable
        >
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="menu = false">
                キャンセル
            </v-btn>
            <v-btn text color="primary" @click="emit(date)">
                OK
            </v-btn>
        </v-date-picker>
    </v-menu>
</template>
<script>
export default {
    props: {
        meta: { type: Object },
        value: { String, Number },
        errorMessages: { String, Array },
        success: { type: Boolean },
        min: String,
        max: String
    },
    data() {
        return {
            date: null,
            menu: false
        };
    },
    methods: {
        emit(date) {
            this.$refs.menu.save(date);
            this.$emit("input", date);
        }
    }
};
</script>
<style></style>
