<template>
    <v-autocomplete
        prepend-inner-icon="mdi-magnify"
        :value="value"
        :items="items"
        :loading="isLoading"
        :search-input.sync="search"
        item-text="Description"
        :item-value="meta.itemValue"
        :dense="meta.dense"
        :label="meta.label"
        no-data-text="データがありません。"
        no-results-text="データがありません。"
        @change="changeElement"
        :auto-select-first="true"
        :error-messages="errorMessages"
        filled
        chips
        :placeholder="meta.placeholder"
        @input="$emit('input', $event)"
    >
        <template v-slot:selection="data">
            <v-chip
                v-bind="data.attrs"
                :input-value="data.selected"
                @click="data.select"
            >
                {{ data.item[code] + ":" + data.item.name }}
            </v-chip>
        </template>
    </v-autocomplete>
</template>
<script>
export default {
    props: {
        meta: { type: Object, Required: true },
        value: { Object, Number },
        lookval: { type: Object },
        errorMessages: { String, Array },
        success: { type: Boolean },
        code: {
            type: String,
            require: false,
            default: "id" // Objectをそのまま指定している
        }
    },
    data: () => ({
        descriptionLimit: 60,
        entries: [],
        isLoading: false,
        model: null,
        search: null
    }),
    methods: {
        remove(item) {
            const index = this.value.indexOf(item.name);
            if (index >= 0) this.friends.splice(index, 1);
        },
        changeElement: function(param) {
            this.$emit("mychange", param);
        }
    },
    computed: {
        fields() {
            if (!this.model) return [];

            return Object.keys(this.model).map(key => {
                return {
                    key,
                    value: this.model[key] || "n/a"
                };
            });
        },
        items() {
            return this.entries.map(entry => {
                const Description =
                    entry.name != null &&
                    entry.name.length > this.descriptionLimit
                        ? entry.name.slice(0, this.descriptionLimit) + "..."
                        : entry[this.code] + ":" + entry.name;
                return Object.assign({}, entry, { Description });
            });
        }
    },

    watch: {
        search(val) {
            if (!val) {
                return;
            }
            //if (this.items.length > 0) return;
            if (this.isLoading) return;

            this.isLoading = true;
            this.$axios
                .get(this.apiUrl + this.meta.searchPath + "/" + val)
                .then(res => {
                    this.count = res.data.data.length;
                    this.entries = res.data.data;
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                })
                .finally(() => (this.isLoading = false));
        }
    }
};
</script>

<style></style>
