<template>
    <v-autocomplete
        :items="items"
        prepend-inner-icon="mdi-magnify"
        @input="emit($event)"
        :value="dvalue"
        item-text="Description"
        no-data-text="データがありません。"
        no-results-text="データがありません。"
        :loading="isLoading"
        :dense="meta.dense"
        :label="meta.label"
        :auto-select-first="true"
        :search-input.sync="search"
        :item-value="meta.itemValue"
        :error-messages="errorMessages"
    >
        <template v-slot:selection="data">
            <v-chip
                v-bind="data.attrs"
                :input-value="data.selected"
                @click="data.select"
            >
                {{ data.item[code] + ":" + data.item.name }}
            </v-chip>
        </template></v-autocomplete
    >
</template>
<script>
export default {
    props: {
        meta: { type: Object, Required: true },
        value: { Object, Number },
        lookval: { type: Object },
        errorMessages: { String, Array },
        success: { type: Boolean },
        dvalue: { type: Object },
        code: {
            type: String,
            require: false,
            default: "id"
        }
    },
    data: () => ({
        searchVal: null,
        descriptionLimit: 60,
        entries: [],
        isLoading: false,
        model: null,
        search: null
    }),
    methods: {
        emit(e) {
            this.$emit("input", e);
        },
        remove(item) {
            const index = this.value.indexOf(item.name);
            if (index >= 0) this.friends.splice(index, 1);
        },
        changeElement: function(param) {
            this.$emit("mychange", param);
        }
    },
    computed: {
        fields() {
            if (!this.model) return [];

            return Object.keys(this.model).map(key => {
                return {
                    key,
                    value: this.model[key] || "n/a"
                };
            });
        },
        items() {
            let e = this.entries.map(entry => {
                const Description =
                    entry.name != null &&
                    entry.name.length > this.descriptionLimit
                        ? entry.name.slice(0, this.descriptionLimit) + "..."
                        : entry[this.code] + ":" + entry.name;
                return Object.assign({}, entry, { Description });
            });
            if (this.dvalue) {
                let dv = JSON.parse(JSON.stringify(this.dvalue));
                dv.Description =
                    dv.name != null && dv.name.length > this.descriptionLimit
                        ? dv.name.slice(0, this.descriptionLimit) + "..."
                        : dv[this.code] + ":" + dv.name;
                e.push(dv);
            }

            return e;
        }
    },

    watch: {
        search(val) {
            if (!val) {
                return;
            }
            if (this.isLoading && this.searchVal == val) return;
            this.isLoading = true;
            this.searchVal = val;
            this.$axios
                .get(this.apiUrl + this.meta.searchPath + "/" + val)
                .then(res => {
                    if (this.searchVal == val) {
                        this.count = res.data.data.length;
                        this.entries = res.data.data;
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                })
                .finally(() => (this.isLoading = false));
            console.log("end");
        }
    }
};
</script>

<style></style>
