<template>
    <v-text-field
        :value="value"
        hint=""
        @input="$emit('input', $event)"
        :label="meta.label"
        :dense="meta.dense"
        min="1"
        type="number"
        pattern="[0-9]*"
        :disabled="meta.disabled"
        :success="success"
        :error-messages="errorMessages"
    ></v-text-field>
</template>
<script>
export default {
    name: "NumberInput",
    props: {
        meta: { type: Object },
        value: { String, Number },
        errorMessages: { String, Array },
        success: { type: Boolean }
    }
};
</script>
<style></style>
