<template>
    <v-select
        :items="meta.items"
        :value="value"
        hint=""
        @input="$emit('input', $event)"
        :label="meta.label"
        :disabled="meta.disabled"
        :success="success"
        dence
        :error-messages="errorMessages"
    ></v-select>
</template>
<script>
export default {
    name: "SelectInput",
    props: {
        meta: { type: Object },
        value: { String, Number },
        errorMessages: { String, Array },
        success: { type: Boolean }
    }
};
</script>
<style></style>
