<template>
    <v-text-field
        :value="value"
        :hint="meta.hint != undefined ? meta.hint : undefined"
        @input="$emit('input', $event)"
        :label="meta.label"
        :dense="meta.dense"
        :solo="meta.solo"
        :disabled="meta.disabled"
        :success="success"
        :error-messages="errorMessages"
    ></v-text-field>
</template>
<script>
export default {
    props: {
        meta: { type: Object },
        value: { String, Number },
        errorMessages: { String, Array },
        success: { type: Boolean }
    }
};
</script>
<style></style>
