<template>
  <v-textarea
    outlined
    :value="value"
    @input="$emit('input', $event)"
    hint=""
    :label="meta.label"
    :disabled="meta.disabled"
    :height="meta.height"
    :success="success"
    :error-messages="errorMessages"
  ></v-textarea>
</template>
<script>
export default {
  name: "TextAreaInput",
  props: {
    meta: { type: Object },
    value: { String, Number },
    errorMessages: { String, Array },
    success: { type: Boolean },
  },
};
</script>
<style></style>
