<template>
    <v-text-field
        :value="value"
        hint=""
        @input="$emit('input', $event)"
        :label="meta.label"
        :disabled="meta.disabled"
    ></v-text-field>
</template>
<script>
export default {
    name: "TimeInput",
    props: {
        meta: { type: Object },
        value: { String, Number },
        errorMessages: { String, Array },
        success: { type: Boolean }
    }
};
</script>
<style></style>
