<template>
    <v-navigation-drawer
        app
        clipped
        v-model="DRAWER_STATE"
        :mini-variant="!DRAWER_STATE"
        :width="sidebarWidth"
        :permanent="$vuetify.breakpoint.lgAndUp"
        :temporary="$vuetify.breakpoint.mdAndDown"
        :mini-variant-width="sidebarMinWidth"
        :class="{ 'drawer-mini': !DRAWER_STATE }"
    >
        <v-list>
            <template v-for="(item, i) in items">
                <v-row v-if="item.heading" :key="item.heading" align="center">
                    <v-col cols="10">
                        <span
                            style="padding-left: 32px"
                            class="text-body-1 subheader"
                            :class="
                                item.heading && DRAWER_STATE ? 'show ' : 'hide'
                            "
                        >
                            {{ item.heading }}
                        </span>
                    </v-col>
                    <v-col cols="2" class="text-center"> </v-col>
                </v-row>
                <v-divider
                    v-else-if="item.divider"
                    :key="i"
                    dark
                    class="my-4"
                ></v-divider>
                <v-list-group
                    color="primary"
                    v-else-if="item.children && DRAWER_STATE"
                    :key="item.title"
                    v-model="item.model"
                >
                    <template v-slot:prependIcon>
                        <v-icon size="24" class="mr-0" color="greyTint">
                            {{ item.icon }}
                        </v-icon>
                    </template>
                    <template v-slot:activator>
                        <v-list-item-content>
                            <v-badge
                                v-if="item.badge"
                                content="New"
                                color="secondary"
                            >
                            </v-badge>
                            <v-list-item-title>
                                {{ item.title }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </template>

                    <v-list-item
                        v-for="(child, i) in item.children"
                        :key="i"
                        :to="child.link"
                        link
                        class="pl-12"
                        @click="child.action ? child.action() : null"
                    >
                        <v-list-item-action class="mr-2" v-if="child.icon">
                            <v-icon size="">{{ child.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>
                                {{ child.title }}
                            </v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-group>
                <v-list-item
                    color="primary"
                    v-else
                    :key="item.text"
                    :to="item.link === '#' ? '' : item.link"
                    @click="item.action ? item.action() : null"
                    link
                >
                    <v-list-item-action class="mr-6">
                        <v-icon
                            :size="item.size ? item.size : 24"
                            :color="item.color ? item.color : 'greyTint'"
                            >{{ item.icon }}</v-icon
                        >
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title link>
                            {{ item.title }}
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>
            <v-divider dark style="margin-top: 240px"></v-divider>
        </v-list>
        <v-dialog
            v-model="dialog"
            hide-overlay
            content-class="add-section"
            max-width="230"
        >
            <v-card class="primary pt-5">
                <v-card-text>
                    <p class="text-h6 white--text">Add section</p>
                    <v-text-field
                        class="white--text"
                        dark
                        single-line
                        label="Section name"
                    ></v-text-field>
                    <v-row no-gutters justify="end">
                        <v-btn
                            color="secondary"
                            class="elevation-0 mr-2"
                            @click="dialog = false"
                        >
                            Add
                        </v-btn>
                        <v-btn text class="white--text" @click="dialog = false">
                            Agree
                        </v-btn>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog v-model="chat" content-class="sidebar-chat" max-width="440">
            <v-card class="pt-5">
                <v-card-text>
                    <p class="fs-large font-weight-medium greyBold--text mb-0">
                        Chat
                    </p>
                    <v-list two-line>
                        <template v-for="(item, i) in chatItems">
                            <v-list-item
                                class="px-0"
                                style="min-height: 55px"
                                :key="i"
                            >
                                <v-list-item-avatar class="my-0">
                                    <v-img :src="item.avatar"></v-img>
                                </v-list-item-avatar>

                                <v-list-item-content class="py-0">
                                    <v-list-item-title
                                        class="font-weight-bold greyBold--text"
                                        v-html="item.title"
                                    ></v-list-item-title>
                                    <v-list-item-subtitle
                                        class="greyBold--text fs-base"
                                        v-html="item.subtitle"
                                    ></v-list-item-subtitle>
                                </v-list-item-content>
                            </v-list-item>
                        </template>
                    </v-list>
                    <v-row no-gutters>
                        <v-text-field
                            v-model="chatMessage"
                            single-line
                            hide-details
                            class="pt-0 mr-2"
                            label="Type a message"
                        ></v-text-field>
                        <v-btn
                            color="primary"
                            class="elevation-0 text-capitalize"
                            @click="newMessage"
                        >
                            Send
                        </v-btn>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-navigation-drawer>
</template>

<script>
import { mapActions, mapState } from "vuex";
import _ from "lodash";
export default {
    props: {
        source: String
    },
    created() {
        this.$store.getters["auth/user"].restriction_flg;
        let copyItems = [];
        for (let item of this.items) {
            if (
                item.restriction &&
                this.$store.getters["auth/user"].restriction_flg
            ) {
                continue;
            } else {
                copyItems.push(item);
            }
            if (item.children) {
                let copyChil = _.cloneDeep(item.children);
                copyItems[copyItems.length - 1].children = [];
                for (let chil of copyChil) {
                    if (
                        chil.restriction &&
                        this.$store.getters["auth/user"].restriction_flg
                    ) {
                        continue;
                    } else {
                        copyItems[copyItems.length - 1].children.push(chil);
                    }
                }
            }
            this.items = copyItems;
        }
    },
    data() {
        return {
            items: [
                { heading: "業務" },
                {
                    title: "出荷",
                    icon: "mdi-cart",
                    model: false,
                    children: [
                        {
                            title: "新規出荷",
                            icon: "mdi-circle-small",
                            link: "/shipmentCreate"
                        },
                        {
                            title: "出荷一覧",
                            icon: "mdi-circle-small",
                            link: "/shipmentList"
                        }
                    ]
                },
                {
                    title: "請求",
                    icon: "mdi-text-box-check",
                    model: false,
                    restriction: true,
                    children: [
                        {
                            title: "請求作成",
                            icon: "mdi-circle-small",
                            link: "/invoiceCreate",
                            restriction: true
                        },
                        {
                            title: "請求一覧",
                            icon: "mdi-circle-small",
                            restriction: true,
                            link: "/invoiceList"
                        },
                        {
                            title: "年間請求金額確認",
                            icon: "mdi-circle-small",
                            restriction: true,
                            link: "/annualBillingAmountList"
                        },
                        {
                            title: "入金一覧",
                            icon: "mdi-circle-small",
                            restriction: true,
                            link: "/paymentList"
                        }
                    ]
                },

                {
                    title: "持ち出し入力",
                    icon: "mdi-food-takeout-box ",
                    model: false,
                    children: [
                        {
                            title: "持ち出し一覧",
                            icon: "mdi-circle-small",
                            link: "/takeOutList"
                        },
                        {
                            title: "持ち出し数入力",
                            icon: "mdi-circle-small",
                            link: "/takeOutCreate"
                        },
                        {
                            title: "持ち出し数集計",
                            icon: "mdi-circle-small",
                            link: "/takeOutSummary"
                        }
                    ]
                },
                /*
                {
                    title: "売上確認",
                    restriction: true,
                    icon: "mdi-chart-bar-stacked",
                    link: "/salesConfirmation"
                },*/
                { divider: true },
                { heading: "マスタ管理" },
                {
                    title: "得意先",
                    icon: "mdi-office-building",
                    children: [
                        {
                            title: "得意先一覧",
                            icon: "mdi-circle-small",
                            link: "/accountList"
                        },
                        {
                            restriction: true,
                            title: "得意先作成 ",
                            icon: "mdi-circle-small",
                            link: "/accountcreate"
                        },
                        {
                            restriction: true,
                            title: "納入先一覧",
                            icon: "mdi-circle-small",
                            link: "/deliveryDestinationList"
                        }
                    ]
                },
                {
                    title: "商品",
                    icon: "mdi-cart",
                    model: false,
                    children: [
                        {
                            title: "商品管理",
                            icon: "mdi-circle-small",
                            link: "/productList"
                        }
                    ]
                },
                {
                    title: "社員",
                    restriction: true,
                    icon: "mdi-account",
                    model: false,
                    children: [
                        {
                            title: "部署一覧",
                            icon: "mdi-circle-small",
                            link: "/departmentList"
                        },
                        {
                            title: "社員一覧",
                            icon: "mdi-circle-small",
                            link: "/employeeList"
                        },
                        {
                            title: "社員追加",
                            icon: "mdi-circle-small",
                            link: "/employeeCreate"
                        }
                    ]
                }
            ],
            chatItems: [
                /*
                {
                    avatar: require("@/assets/img/time-line/a1.jpg"),
                    title: "Jane Hew",
                    subtitle: "<span>Hey! How it's going?</span>"
                },
                {
                    avatar: require("@/assets/img/time-line/a2.jpg"),
                    title: "Axel Pittman",
                    subtitle:
                        "<span class='text--primary'>I'll definitely buy this template</span>"
                },
                {
                    avatar: require("@/assets/img/time-line/a3.jpg"),
                    title: "Sophia Fernandez",
                    subtitle:
                        "<span class='text--primary'>What's the font-family?</span>"
                }
                */
            ],
            sidebarWidth: 240,
            sidebarMinWidth: 96,
            dialog: false,
            chat: false,
            chatMessage: ""
        };
    },
    computed: {
        ...mapState("layout", {
            drawer: state => state.drawer
        }),
        DRAWER_STATE: {
            get() {
                return this.drawer;
            },
            set(newValue) {
                if (newValue === this.drawer) return;
                this.TOGGLE_DRAWER();
            }
        }
    },
    methods: {
        ...mapActions("layout", ["TOGGLE_DRAWER"]),
        logOut: function() {
            window.localStorage.setItem("authenticated", false);
            window.localStorage.removeItem("token");
            this.$router.push("/login");
        },
        addSection: function() {
            this.dialog = true;
        },
        newMessage: function() {
            let post = {
                avatar: require("@/assets/img/user/avatars/avatar.png"),
                title: "John Smith",
                subtitle: ""
            };
            if (this.chatMessage.length !== 0) {
                post.subtitle = this.chatMessage;
                this.chatItems.push(post);
                this.chatMessage = "";
            }
        }
    }
};
</script>

<style src="./Sidebar.scss" lang="scss" />
