<template>
    <v-app-bar
        elevation="0"
        class="main-header"
        height="64"
        fixed
        color="primary"
        dark
    >
        <v-btn icon class="mx-1" @click.stop="TOGGLE_DRAWER">
            <template v-if="DRAWER_STATE">
                <v-icon
                    size="28"
                    :class="$vuetify.theme.dark ? 'primary--text' : null"
                    >mdi-menu</v-icon
                >
            </template>
            <template v-else>
                <v-icon
                    size="28"
                    :class="$vuetify.theme.dark ? 'primary--text' : null"
                    >mdi-menu</v-icon
                >
            </template>
        </v-btn>
        <v-toolbar-title :class="$vuetify.theme.dark ? 'primary--text' : null"
            >徳島屋ERP</v-toolbar-title
        >
        <v-spacer></v-spacer>

        <!--<Search />-->
        <v-menu min-width="180" offset-y bottom left nudge-bottom="10">
            <template v-slot:activator="{ on, attrs }">
                <span v-bind="attrs" v-on="on">{{ username }}</span>
            </template>
            <v-list>
                <div class="text-h5 grey--text text--darken-3 px-4 pt-4">
                    <!--{{ username }} -->
                </div>
                <div class="d-flex justify-center my-3">
                    <v-btn
                        width="80%"
                        large
                        outlined
                        color="primary"
                        class="text-capitalize"
                        @click="logout"
                        >ログアウト</v-btn
                    >
                </div>
            </v-list>
        </v-menu>
        <div class="greeting-text mr-3 d-none d-md-block">
            <!--Hi,-->
        </div>
    </v-app-bar>
</template>

<script>
import { mapActions, mapState } from "vuex";
import config from "../../config";
//import Search from "@/components/Search/Search";

export default {
    name: "Header",
    components: {
        //Search
    },
    data: () => ({
        config,
        searchCollapse: true,
        notifications: [
            {
                text: "Check out this awesome ticket",
                icon: "mdi-tag",
                color: "warning"
            },
            {
                text: "What is the best way to get ...",
                icon: "mdi-thumb-up",
                color: "success"
            },
            {
                text: "This is just a simple notification",
                icon: "mdi-flag",
                color: "error"
            },
            {
                text: "12 new orders has arrived today",
                icon: "mdi-cart",
                color: "primary"
            }
        ],
        messages: [
            {
                text: "JH",
                name: "Jane Hew",
                message: "Hey! How is it going?",
                time: "09:32",
                color: "warning"
            },
            {
                text: "LB",
                name: "Lloyd Brown",
                message: "Check out my new Dashboard",
                time: "10:02",
                color: "success"
            },
            {
                text: "MW",
                name: "Mark Winstein",
                message: "I want rearrange the appointment",
                time: "12:16",
                color: "error"
            },
            {
                text: "LD",
                name: "Liana Dutti",
                message: "Good news from sale department",
                time: "14:56",
                color: "primary"
            }
        ],
        account: [
            { text: "Profile", icon: "mdi-account", color: "greyTint" },
            { text: "Tasks", icon: "mdi-thumb-up", color: "greyTint" },
            { text: "Messages", icon: "mdi-flag", color: "greyTint" }
        ],
        notificationsBadge: true,
        messageBadge: true
    }),
    computed: {
        ...mapState("layout", { drawer: state => state.drawer }),
        DRAWER_STATE: {
            get() {
                return this.drawer;
            }
        },
        isLogin() {
            return this.$store.getters["auth/check"];
        },
        username() {
            return this.$store.getters["auth/username"];
        }
    },
    methods: {
        ...mapActions("layout", ["TOGGLE_DRAWER"]),
        ...mapActions("auth", ["logoutUser"]),
        async logout() {
            await this.$store.dispatch("auth/logout");
            //   this.$router.push("/login");
            this.$router.go({ path: "/login", force: true });
        }
    }
};
</script>

<style src="./Header.scss" lang="scss"></style>
