<template>
    <div>
        <v-container fluid class="px-0 px-md-1">
            <div class="tables-dynamic mt-3">
                <ValidationObserver
                    ref="observer"
                    v-slot="{ invalid }"
                    immediate
                >
                    <v-row>
                        <v-col cols="12">
                            <v-card class="mb-1">
                                <v-card-title class="pa-5 pb-3">
                                    <p>{{ title }}</p>
                                    <v-spacer></v-spacer>
                                </v-card-title>

                                <v-card-text>
                                    <v-row align="center">
                                        <template
                                            v-for="(field, name, index) in data"
                                        >
                                            <v-col
                                                v-if="
                                                    meta[name].editable != false
                                                "
                                                :key="index"
                                                class="mb-0 pb-0"
                                                cols="12"
                                                xs="12"
                                                sm="6"
                                                align-self="start"
                                            >
                                                <ValidationProvider
                                                    v-slot="{ errors, valid }"
                                                    :name="meta[name].label"
                                                    :rules="meta[name].rule"
                                                >
                                                    <component
                                                        :is="
                                                            'I_' +
                                                                meta[name].type
                                                        "
                                                        v-model="data[name]"
                                                        :meta="meta[name]"
                                                        :lookval="
                                                            data['account']
                                                        "
                                                        :errorMessages="errors"
                                                        :success="valid"
                                                    ></component>
                                                </ValidationProvider>
                                            </v-col>
                                        </template>
                                    </v-row>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-btn text @click="cancel">
                                        キャンセル
                                    </v-btn>
                                    <v-spacer />
                                    <v-btn
                                        color="primary"
                                        :disabled="invalid"
                                        text
                                        @click="save"
                                    >
                                        保存
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </ValidationObserver>
            </div>
        </v-container>
    </div>
</template>
<script>
import { mapActions } from "vuex";
import { localize, ValidationObserver, ValidationProvider } from "vee-validate";
import ja from "vee-validate/dist/locale/ja.json";
localize("ja", ja);
export default {
    name: "dataCreator",
    components: {
        ValidationProvider,
        ValidationObserver
    },
    props: {
        getPath: { type: String, Required: true },
        previusPath: { type: String },
        SavePath: { type: String },
        title: { type: String }
    },
    data() {
        return {
            data: {},
            meta: null
        };
    },
    created() {
        this.init();
    },

    methods: {
        ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"]),
        save() {
            let vm = this;
            this.$axios
                .post(this.apiUrl + this.SavePath, this.data)
                .then(response => {
                    console.log(response);
                    console.log(response.data.id);
                    vm.openSnackbar("保存しました");
                    if (vm.previusPath) {
                        vm.$router.push(
                            vm.previusPath + "?id=" + response.data.id
                        );
                    } else {
                        vm.$router.go(-1);
                    }
                })
                .catch(err => {
                    vm.openSnackbar(err);
                    console.log(err);
                });
        },
        cancel() {
            this.openSnackbar("キャンセルしました");
            this.$router.go(-1);
        },
        init() {
            this.$axios
                .get(this.apiUrl + this.getPath)
                .then(res => {
                    this.meta = res.data.meta;
                    this.data = {};
                    for (let key in res.data.meta) {
                        if (res.data.meta[key].defaultValue != undefined) {
                            this.data[key] = res.data.meta[key].defaultValue;
                        } else {
                            this.data[key] = "";
                        }
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        }
    }
};
</script>
