<template>
    <div>
        <v-container fluid class="px-0 px-md-1">
            <div class="tables-dynamic mt-3">
                <ValidationObserver
                    ref="observer"
                    v-slot="{ invalid }"
                    immediate
                >
                    <v-row>
                        <v-col cols="12">
                            <v-card class="mb-1">
                                <v-card-title class="pa-5 pb-3">
                                    <p>{{ title }}</p>
                                    <v-spacer></v-spacer>
                                </v-card-title>
                                <v-card-text>
                                    <v-row>
                                        <template
                                            v-for="(field, name, index) in meta"
                                        >
                                            <v-col
                                                v-if="
                                                    meta[name].editable != false
                                                "
                                                :key="index"
                                                class="mb-0 pb-0"
                                                cols="12"
                                                xs="12"
                                                sm="6"
                                                align-self="start"
                                                ><ValidationProvider
                                                    v-slot="{ errors, valid }"
                                                    :name="meta[name].label"
                                                    :rules="meta[name].rule"
                                                >
                                                    <component
                                                        :is="
                                                            'I_' +
                                                                meta[name].type
                                                        "
                                                        v-model="data[name]"
                                                        :meta="meta[name]"
                                                        :dvalue="
                                                            data[
                                                                meta[name].value
                                                            ]
                                                        "
                                                        :errorMessages="errors"
                                                        :success="valid"
                                                    ></component>
                                                </ValidationProvider> </v-col
                                        ></template>
                                    </v-row>
                                </v-card-text>
                                <v-divider></v-divider>
                                <v-card-actions>
                                    <v-btn text @click="cancel">
                                        キャンセル
                                    </v-btn>
                                    <v-spacer />
                                    <v-btn
                                        color="primary"
                                        :disabled="invalid"
                                        @click="save"
                                        text
                                    >
                                        保存
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row></ValidationObserver
                >
            </div>
        </v-container>
    </div>
</template>
<script>
import input from "../../mixins/input";
import { mapActions } from "vuex";
export default {
    mixins: [input],
    name: "DataEditor",
    props: {
        savePath: { type: String, Required: true },
        getPath: { type: String, Required: true },
        title: { type: String, Required: true }
    },
    data() {
        return {
            meta: null,
            data: null
        };
    },
    created() {
        this.init();
    },
    methods: {
        ...mapActions("snackbar", ["openSnackbar", "closeSnackbar"]),
        dataUpdate(obj) {
            this.data[obj.name] = obj.value;
        },
        updateValue(diff) {
            this.$emit("input", Object.assign({}, this.value, diff));
        },
        init() {
            let vm = this;
            this.$axios
                .get(this.apiUrl + this.getPath)
                .then(res => {
                    vm.data = res.data.data;
                    vm.meta = res.data.meta;
                })
                .catch(err => {
                    vm.openSnackbar(err);
                    console.log(err);
                });
        },
        save() {
            let vm = this;
            let postdata = JSON.parse(JSON.stringify(this.data));
            this.$axios
                .post(this.apiUrl + this.savePath, postdata)
                .then(res => {
                    vm.init();
                    console.log(res);
                    vm.openSnackbar("保存しました");
                    vm.$router.go(-1);
                })
                .catch(err => {
                    vm.openSnackbar(err);
                    console.log(err);
                });
        },
        cancel() {
            this.openSnackbar("キャンセルしました");
            this.$router.go(-1);
        },
        open() {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Dialog opened";
        }
    }
};
</script>
