<template>
    <div>
        <v-container fluid class="px-0">
            <div class="tables-dynamic">
                <v-row>
                    <v-col cols="12">
                        <v-card class="mb-1">
                            <v-card-title class="pa-5 pb-3">
                                <p>{{ title }}</p>
                                <v-spacer></v-spacer>
                                <slot name="buttons"></slot>
                                <v-btn
                                    v-if="editPath"
                                    color="primary"
                                    dark
                                    class="mb-2"
                                    @click="editPage"
                                >
                                    編集
                                </v-btn>
                            </v-card-title>

                            <v-card-text class="pb-12">
                                <v-row align="center">
                                    <template
                                        v-for="(field, name, index) in meta"
                                    >
                                        <v-col
                                            v-if="meta[name].visible != false"
                                            :key="index"
                                            class="display-3 mb-0 pb-0"
                                            cols="12"
                                            xs="12"
                                            sm="6"
                                            align-self="start"
                                        >
                                            <p class="text-body-1 mb-0">
                                                {{
                                                    meta[name] != undefined
                                                        ? field.label
                                                        : ""
                                                }}
                                            </p>

                                            <template
                                                v-if="
                                                    meta[name].type == 'check'
                                                "
                                            >
                                                <I_check
                                                    :meta="{ disabled: true }"
                                                    v-model="data[name]"
                                                ></I_check>
                                            </template>
                                            <template
                                                v-else-if="
                                                    meta[name].type == 'link' &&
                                                        data[name] != null
                                                "
                                            >
                                                <a
                                                    class="text-h5 mb-2"
                                                    style="min-height: 30px; display:block"
                                                    :href="
                                                        '/' +
                                                            meta[name].link +
                                                            data[
                                                                meta[name]
                                                                    .link_id
                                                            ]
                                                    "
                                                    >{{ data[name] }}</a
                                                >
                                            </template>
                                            <template v-else>
                                                <p
                                                    class="text-h5 mb-2"
                                                    style="min-height: 30px"
                                                >
                                                    {{ data[name] }}
                                                </p>
                                            </template>
                                            <v-divider></v-divider>
                                        </v-col>
                                    </template>
                                </v-row>
                            </v-card-text>
                            <!--
                            <v-divider></v-divider>

                            <v-card-actions> </v-card-actions>
-->
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </v-container>
    </div>
</template>
<script>
export default {
    name: "DataDetail",
    props: {
        editable: { type: Boolean, default: true },
        getPath: { type: String, Required: true },
        editPath: { type: String },
        title: { type: String }
    },
    data() {
        return {
            data: [],
            meta: []
        };
    },
    created() {
        this.init();
    },
    methods: {
        init() {
            let vm = this;
            this.$axios
                .get(this.apiUrl + this.getPath)
                .then(res => {
                    console.log(res.data.data);
                    vm.data = res.data.data;
                    vm.meta = res.data.meta;
                })
                .catch(err => {
                    vm.openSnackbar(err);
                    console.log(err);
                });
        },
        editPage() {
            this.$router.push(this.editPath);
        }
    }
};
</script>
