<template>
    <v-container fluid class="px-0">
        <div class="tables-dynamic">
            <v-row>
                <v-col cols="12">
                    <v-card class="mb-1">
                        <v-card-title class="pa-5 pb-3">
                            <p>{{ title }}</p>
                            <v-spacer></v-spacer>
                            <v-btn
                                color="primary"
                                dark
                                class="mb-2"
                                @click="CreatePage"
                                v-if="createPath"
                            >
                                新規作成
                            </v-btn>
                            <slot name="buttons"></slot>
                        </v-card-title>
                        <v-card-text>
                            <p class="fs-normal greyBold--text mb-5 pl-1">
                                {{ discription }}
                            </p>
                            <v-data-table
                                v-model="selected"
                                :headers="headers"
                                :items="data"
                                item-key="id"
                                :show-select="showSelect"
                                :sort-by="sortBy ? sortBy : ''"
                                :sort-desc="true"
                                :loading="loading"
                                @input="$emit('input', $event)"
                                loading-text="検索中"
                                no-data-text="データがありません。"
                                :headerProps="{
                                    sortByText: 'ソート対象'
                                }"
                                :footer-props="{
                                    'items-per-page-text': '行/ページ:'
                                }"
                            >
                                <template v-slot:[`item.delete`]="{ item }">
                                    <v-btn
                                        color="error"
                                        dark
                                        @click="deleteOpen(item.id)"
                                    >
                                        削除
                                    </v-btn>
                                </template>
                                <template v-slot:[`item.edit`]="{ item }">
                                    <v-btn
                                        v-if="editPath"
                                        depressed
                                        color="primary"
                                        @click="editPage(item)"
                                        >編集</v-btn
                                    >
                                </template>
                                <template v-slot:[`item.detail`]="{ item }">
                                    <v-btn
                                        v-if="detailPath"
                                        depressed
                                        color="primary"
                                        @click="detailPage(item)"
                                        >詳細</v-btn
                                    >
                                </template>
                                <template v-slot:[`item.link`]="{ item }">
                                    <v-btn
                                        depressed
                                        color="primary"
                                        :href="item[linkAttribute]"
                                        target="_blank"
                                        >{{ linkText }}</v-btn
                                    >
                                </template>
                            </v-data-table>
                            <v-dialog
                                v-model="deleteDialog"
                                persistent
                                max-width="290"
                                v-if="deletePath"
                            >
                                <v-card>
                                    <v-card-title class="text-h5">
                                        確認
                                    </v-card-title>
                                    <v-card-text>
                                        本当に削除しますか</v-card-text
                                    >
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                            color="green darken-1"
                                            text
                                            @click="deleteDialog = false"
                                        >
                                            キャンセル
                                        </v-btn>
                                        <v-btn
                                            color="green darken-1"
                                            text
                                            @click="deleteItem()"
                                        >
                                            削除する
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </div>
    </v-container>
</template>

<script>
export default {
    name: "dataList",
    props: {
        loading: { type: Boolean, default: false },
        editPath: { type: String, Required: false },
        detailPath: { type: String, Required: false },
        createPath: { type: String, Required: false },
        deletePath: { type: String, Required: false },
        data: { type: Array, Required: true },
        title: { type: String, Required: true },
        discription: { type: String, Required: false },
        headers: { type: Array, Required: true },
        showSelect: { type: Boolean },
        linkAttribute: { type: String },
        linkText: { type: String, default: "開く" },
        sortBy: { type: String, Required: false }
    },
    data() {
        return {
            deleteDialog: false,
            deleteid: null,
            selected: []
        };
    },
    created() {
        //this.init();
    },
    methods: {
        deleteOpen(id) {
            this.deleteid = id;
            this.deleteDialog = true;
        },
        editPage(item) {
            this.$router.push(this.editPath + "?id=" + item.id);
        },
        CreatePage() {
            this.$router.push(this.createPath);
        },
        detailPage(item) {
            this.$router.push(this.detailPath + "?id=" + item.id);
        },
        deleteItem() {
            let vm = this;
            console.log(this.apiUrl + this.deletePath + "/" + this.deleteid);
            this.$axios
                .delete(this.apiUrl + this.deletePath + "/" + this.deleteid)
                .then(() => {
                    vm.openSnackbar("削除しました");
                    vm.deleteDialog = false;
                    vm.$emit("delete");
                })
                .catch(err => {
                    vm.deleteDialog = false;
                    vm.openSnackbar(err);
                    console.log(err);
                });
            console.log(this.deletePath);
        },
        save() {
            this.snack = true;
            this.snackColor = "success";
            this.snackText = "Data saved";
        },
        cancel() {
            this.snack = true;
            this.snackColor = "error";
            this.snackText = "Canceled";
        },
        open() {
            this.snack = true;
            this.snackColor = "info";
            this.snackText = "Dialog opened";
        },
        close() {
            console.log("Dialog closed");
        }
    }
};
</script>
