<template>
    <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark v-bind="attrs" v-on="on">
                {{ text }}
            </v-btn>
        </template>
        <v-card>
            <ValidationObserver ref="observer" v-slot="{ invalid }" immediate>
                <v-card-title>
                    <span class="headline">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row align="center">
                            <template v-for="(field, name, index) in meta">
                                <v-col
                                    :key="index"
                                    v-if="meta[name].editable != false"
                                    class="d-flex"
                                    cols="12"
                                    xs="12"
                                    sm="6"
                                >
                                    <ValidationProvider
                                        v-slot="{ errors, valid }"
                                        :name="meta[name].label"
                                        :rules="meta[name].rule"
                                    >
                                        <component
                                            :is="'I_' + field.type"
                                            v-model="data[name]"
                                            :meta="field"
                                            :errorMessages="errors"
                                            :success="valid"
                                        ></component>
                                    </ValidationProvider>
                                </v-col>
                            </template>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false">
                        閉じる
                    </v-btn>
                    <v-btn
                        color="blue darken-1"
                        text
                        :disabled="invalid"
                        @click="
                            save();
                            dialog = false;
                        "
                    >
                        保存
                    </v-btn>
                </v-card-actions>
            </ValidationObserver>
        </v-card>
    </v-dialog>
</template>
<script>
import input from "../../mixins/input";

export default {
    mixins: [input],
    props: {
        getPath: { type: String, Required: true },
        SavePath: { type: String, Required: true },
        title: { type: String },
        text: String,
        defaultValue: { type: Object, Required: false, defaultValue: {} }
    },
    data() {
        return {
            dialog: false,
            data: {},
            meta: null
        };
    },
    created() {
        this.init();
    },
    methods: {
        save() {
            let vm = this;
            this.$axios
                .post(this.apiUrl + this.SavePath, this.data)
                .then(() => {
                    vm.init();
                    this.$emit("save");
                    vm.openSnackbar("保存しました");
                })
                .catch(err => {
                    console.log(err);
                    vm.openSnackbar(err);
                });
        },
        init() {
            this.$axios
                .get(this.apiUrl + this.getPath)
                .then(res => {
                    this.meta = res.data.meta;
                    this.data = {};
                    for (let key in res.data.meta) {
                        if (
                            Object.prototype.hasOwnProperty.call(
                                this.defaultValue,
                                key
                            )
                        ) {
                            this.data[key] = this.defaultValue[key];
                        } else {
                            this.data[key] = "";
                        }
                    }
                })
                .catch(err => {
                    this.openSnackbar(err);
                    console.log(err);
                });
        }
    }
};
</script>
